[2014-12-10 22:17] paked opened #2 "Messaging System is clunky"
Currently when subscribing to an event you pass in the system and the event name. This is clunky and leads to too much message confirmation logic in the default `System.Receive(msg Message)` handler.

My proposal is to pass a `type func(msg Message)` when subscribing to an event instead.

Any objections?

[2014-12-15 23:31] paked opened #3 "Pong sample broken."
With the recent API changes regarding collision messaging, the pong sample found in ```demos/pong/``` is broken.

[2014-12-31 08:18] #2 closed, assigned to nobody

[2015-01-03 21:44] paked opened #4 "Restructure Animation Component/System"
In the ECS paradigm components are designed to only store data, systems are supposed to manipulate this data. The current animation implementation has logic spread between the component and its related system.

[2015-04-29 00:31] paked commented on #3
Fixed in b9db4706d8f1f9b89692cff5fcbe3983e3b65a08

[2015-04-29 00:31] #3 closed

[2015-06-30 10:12] allochi opened #6 "Suggested fixes for botmark.go example"
Hi,

Nice work, I have been exploring the library and I found that `botmark.go` need these changes

[code]

[2015-06-30 21:17] paked commented on #6
Hmm, I think the entire botmark suite needs to be updated to the latest API...

[2015-07-14 06:32] #6 closed

[2015-08-13 19:04] EtienneBruines opened #7 "Dependencies Debian"
As mentioned at their GitHub page, [glfw](https://github.com/go-gl/glfw) has some dependencies.

For example, on Debian/Ubuntu, you need to:
[code]

These are the only dependencies I've found (so far). I'll leave it up to you if you want to document this, and how you want to document this.

[2015-08-13 19:06] EtienneBruines opened #8 "code.google.com shutting down"
[code]

These are referenced at `font.go`, and should be replaced with the new import path (`github.com/golang/freetype`).

[2015-08-13 19:54] EtienneBruines opened #9 "FPS Limit"
When using the example given at the README, I'm getting a FPS of about 30-40k.

It would be nice if we could limit this, since this wastes quite some CPU resources. The programmer could pass/set options somewhere, to set the limit to 30/60/90/120/unlimited whenever he wants. Preferably at runtime (because it'll reside in the game Settings).

Looking at the code [here](https://github.com/paked/engi

[2015-08-13 22:02] paked commented on #9
Well looking at the exposed functions, we would have to recreate it. I personally am happy with this solution, it's not like people would recreate the ticker every frame.

[2015-08-13 22:04] paked commented on #7
These definitely need to be part of the README file. Silly oversight by me.

[2015-08-14 19:27] EtienneBruines commented on #9
Would you prefer this to be handled as a static function, such as the `SetBackground` function? i.e.
[code]

Or tied to any running instance of some sort?

[2015-08-14 21:58] paked commented on #9
Static seems to be the only possible way to do it right now, without a massive restructure. :)

[2015-08-18 15:19] pedronasser commented on #9
LGTM

[2015-08-18 15:25] pedronasser opened #11 "Project's Todo List / Chat"
I'm currently working on a game prototype using this engine, but there's a lot of things missing on it for now. So I'm currently committing only to my fork of this project.

Can we have a Trello's to-do list or at least any chat to sync this project's information?
Are you on Gopher's Slack? or IRC?

[2015-08-18 21:08] #9 closed

[2015-08-18 21:12] paked commented on #11
I do have an invite to gophers slack, which I haven't claimed yet... I will join up and see if we can get an `engi` chat going.

[2015-08-18 21:14] paked commented on #11
And on the topic of a to do list, historically we have just used the issues section. However, I think moving to trello would be a good idea.

[2015-08-18 21:27] paked commented on #11
OK We are now `#engi` on http://gophers.slack.com

[2015-08-18 22:19] paked commented on #7
Hang on, these are build-only dependencies right? Or are the required *whenever* running an engi game?

[2015-08-19 02:36] paked commented on #8
So, I tried making the changes and rewrites using these libraries (https://github.com/golang/freetype, https://github.com/fnkr/golang-freetype).

[2015-08-27 16:19] JonnieCache commented on #11
What's wrong with IRC? I want to talk about this project but I don't want to sign up another account for something that has been free my entire life.

[2015-08-27 22:13] paked commented on #11
Yeah @JonnieCache, If you want to chat with me personally though... I am `hcwool` on freenode, :+1::.

[2015-08-28 09:29] JonnieCache commented on #11
nice one, see you on freenode at some point :wave:

[2015-09-30 15:17] EtienneBruines commented on #8
Guess you haven't pushed it to the repository yet. Since code.google.com is now officially not working any more, perhaps you should.

I could create a PR if you want, but you can also just edit `font.go` to use `github.com/golang/freetype`.

[2015-09-30 23:44] #8 closed

[2015-09-30 23:49] paked opened #14 "Fix examples"
It seems like the examples are broken from when better font support was added.

* [x] Pong
* [x] botmark.go
* [x] game.go
* [x] hello.go
* [ ] tilemap.go

[2015-10-01 10:37] EtienneBruines commented on #14
This commit https://github.com/paked/engi/commit/ff424f9414d2355bde697560f86831863f0f2e47 seems to be (partially) to blame. Referencing because it shows old behavior with the Fonts.

[2015-10-01 10:42] paked commented on #14
@EtienneBruines yes, I believe the problem is that we never got around to updating the examples when we made an API change (d'oh!). It is not necessarily a bug as such, as a working updated example can be found [here](https://github.com/Newbrict/OakTale).

[2015-10-01 10:48] EtienneBruines commented on #14
Looks like the font now sees https://github.com/paked/engi/blob/master/demos/pong/assets/font.png as a bad ttf file.

[2015-10-20 10:06] EtienneBruines commented on #7
Have not noticed this comment before. Apologies.

Since they are `-dev` packages, I assume they are build-only dependencies. I'm not entirely sure as I do not have a system running without those packages; so I won't be able to say for sure.

[2015-10-22 21:24] matiwinnetou opened #18 "Sprites"
Does this game engine support sprite maps?

I would like to write a Galaxian game to learn this game engine and I found the following one big PNG file for a game:

http://www.spriters-resource.com/nes/galaxian/sheet/14344/

[2015-10-22 21:27] paked commented on #18
Yes we do! Unfortunately, there isn't very much documentation... The component/system are in this file: https://github.com/paked/engi/blob/master/animation.go

If you need any help give me a shout!

[2015-10-22 21:45] paked commented on #11
Closing because this seems to have been resolved.

[2015-10-22 21:45] #11 closed

[2015-10-22 22:12] matiwinnetou commented on #18
:+1:

BTW: it would be nicer if we had a Gitter channel, I am already signed by default to my work slack channel and Gitter is perfect for these things.

I already could comment on some things I encountered while browsing through the code.

[2015-10-22 22:13] #18 closed

[2015-10-23 12:38] matiwinnetou commented on #18
I am trying the most simple sprite to work, I realized that *Region is renderable but Sprite is not really. Well there is a render method implemented but only a method that takes a *Batch. If I pass this to
engi.NewRenderComponent(

it doesn't work because sprite cannot be rendered...

I modified tilemap example to play with latest API:

[code]

so far no luck to be able to use one tile from the t

[2015-10-23 12:40] matiwinnetou commented on #18
there is this method:
[code]

but I cannot render a sprite...

[2015-10-23 18:53] EtienneBruines commented on #18
Can you push the code to (a branch of) your fork? Then I could take a look? (easier when we're using the same code).

[2015-10-23 20:50] matiwinnetou opened #19 "Rendering of sprites"
Having spend like hours looking at the code I seem to understand why I cannot render a tile from a tile map or a sprite from a sprite map.

[code]

This function simply renders texture, but that is not what I want. When I, however, want to render a sprite it doesn't work with a ECS system. It looks like it's render method has been only implemented for *Batch.

I don't get these batches but even if

[2015-10-23 21:19] matiwinnetou commented on #19
Looking at code more Batch seems to me like Canvas...

[2015-10-23 22:00] matiwinnetou commented on #19
I have first success to render a sprite.

https://github.com/matiwinnetou/engi/commit/7a3bab3e9adcb294b7b5425fa62c08d818fbca16

I wrote own method:

in assets.go

func (s *Sprite) Render(b *Batch, render *RenderComponent, space *SpaceComponent) {
	b.Draw(s.Region, s.Position.X, s.Position.Y, s.Anchor.X, s.Anchor.Y, s.Scale.X, s.Scale.Y, s.Rotation, s.Color, s.Alpha)
}

probably totally wrong but f

[2015-10-23 22:39] paked commented on #19
@matiwinnetou Hey. I'm not too much of a fan of gitter, I would much prefer IRC. Join me on `#engi` on freenode if you wish.

[2015-10-23 23:33] paked commented on #19
OK. I've updated the examples to reflect the latest API changes. If you want, you could look through #20. Everything there will compile.

[2015-10-24 15:58] matiwinnetou commented on #19
Thx, this is appreciated.

I will to to contribute to this project since I have a vision how to improve something and fix a problem. Before I do that I will explain you what problem I see at the moment and what is limiting me to write my Galaxian game example.

It seems that the way spritesheets are implemented is that they need to be in a specific order. I can that some spritesheets not only are

[2015-10-24 21:33] paked commented on #19
@matiwinnetou This all seems like a reasonable idea... But I do not think we should have multiple ways to do the same thing. In all honesty the `Sprite` struct is legacy and should be removed. And it would make sense for `Region`'s to be `Renderable`.

I've actually been planning to refractor `Animation{Component,System}` for a while. So please, go ahead... I totally broke the ECS design while wri

[2015-10-24 21:34] paked commented on #19
I'd really like to see these changes in a PR (preferably seperately).

[2015-10-24 21:36] paked opened #21 "Remove Legacy Code"
Throughout the codebase there are various pieces of legacy code. These need to be removed.

* `Sprite`
* `Drawable` (or `Renderable`)

[2015-10-24 21:37] paked commented on #19
We can track these problems in #21 and #4

[2015-10-24 21:37] EtienneBruines commented on #21
Can I ask what's wrong with `Drawable`, and how it should look instead?

[2015-10-24 21:39] paked commented on #21
@EtienneBruines It fulfils the same purpose as `Renderable`, although... Perhaps we should use it... Renderable is quite ugly and relies on moving state.

[2015-10-24 21:40] EtienneBruines commented on #21
@paked Using either one of those would indeed be better; as they both sound like they're doing the same.

[2015-10-24 21:42] paked commented on #21
@EtienneBruines I personally think `Drawable` is the better design (not sure why I wrote it down then...)

cc: @matiwinnetou

[2015-10-24 22:03] EtienneBruines opened #22 "Use different Shader for HUD"
`HUDGround` is defined in `system.go`, to indicate some kind of HUD. This is good.

This is given a `PriorityLevel`, to indicate it must be drawn on top. (i.e. `Background` is all at the bottom).

However, the HUD is no affected by the camera (shouldn't move / change size). Since the camera behavior is defined in the Shader (`assets.go`, lines 248 and up), we should use other definitions for the H

[2015-10-24 22:05] paked commented on #22
*assigns @EtienneBruines*

[2015-10-24 22:11] EtienneBruines opened #23 "Fix Camera API"
The Camera API does not correctly stay within bounds. It does not use the limits correctly (those defined in `WorldBounds`).

This should be fixed somewhere in `assets.go` and `batch.go`.

I have no clue how to handle this ([SO](https://stackoverflow.com/questions/33310060/glfw-shader-change-camera-position)).

[2015-10-24 23:06] matiwinnetou commented on #21
very useful info, thx. Helps me to learn the current status of the project.

[2015-10-24 23:50] matiwinnetou commented on #4
Ok, having spend even more time with animation.go I can see what you were trying to achieve there.

The main issue is with increment() method which obviously processes data.

However, I am slowly coming to some conclusions how I would like this to look like:

For me
1. We should delete an actual Sprite type (legacy like you said)
2. We should seriously consider renaming Bounds to Sprite as bounds

[2015-10-25 00:42] paked commented on #4
@matiwinnetou IMO `Region != Sprite`. A `Region` represents part of a `Texture`.

Yes. Regions should be `Renderable`, so we can stop [this](https://github.com/paked/engi/blob/master/level.go#L13-L25) kind of situation.

[2015-10-25 00:42] paked commented on #4
Sure. Structure the `AnimationComponent` however you want. As long as no logic is performed on it. Logic should be performed on the `AnimationSystem`.

[2015-10-25 00:43] paked commented on #4
`dt` is delta time, the change in time since the last frame was rendered... Useful for computing movement and stuff :)

[2015-10-25 00:45] paked commented on #21
@matiwinnetou Do you have any opinions on `Drawable` vs `Renderable`?

[2015-10-25 08:56] matiwinnetou commented on #21
@paked At the moment sadly no, as I understand still too little the difference. In general, however, from my experience I can say that one should avoid state like fire. It is not always possible though or complicates code a lot. You mentioned that Drawable has no state where as Renderable assumes state.

In our ECS app, which believe or not is actually web application. (We created own ecs-web fram

[2015-10-25 09:21] paked commented on #21
@EtienneBruines What about you? (`Drawable` vs `Renderable` )

[2015-10-25 13:01] EtienneBruines commented on #21
I do think the `Drawable` is much clearer. Since there'll be a `Shader` for each `PriorityLevel` (which people can add themselves), all we need from whatever we want to draw, is the `Texture`, and size/location.

I have no idea what the `View() (float32, float32, float32, float32)` function is supposed to do though.

[2015-10-25 20:41] EtienneBruines commented on #22
In order to create the hud demo at https://github.com/EtienneBruines/engi/tree/hud, I had to make `Batch` and the shaders, public.

The question is: is this OK?

At some point, the user will have to tell `engi`: this `PriorityLevel` is affected by the `Camera`, or isn't (`HUD`). The demo does that by creating a `Batch`, and adding it. But perhaps there's another (better) solution?

[2015-10-25 21:14] #23 closed

[2015-10-25 22:37] paked opened #26 "Give Camera Safe Defaults"
I believe this should be no zoom.

[2015-10-25 22:37] paked commented on #26
cc: @EtienneBruines

[2015-10-25 22:42] EtienneBruines opened #27 "Feature Request: Menu"
It'd be nice if someone pressed something like `ESC` (or something else), it'd pop-up some kind of menu. We all know it; it asks us if we want to continue, change settings, exit, save, load, etc.

But it also stops everything else in the game -- depending on which game you're playing.
## Proposition:

[code]

And this `Entity`, would then contain a `SpaceComponent` of given size, and one could add

[2015-10-25 22:43] #22 closed

[2015-10-25 22:59] EtienneBruines commented on #26
Camera has default zoom value of `1.00`, this is usually equal to "no zoom".

However, `(0, 0)` is at the center of the screen. Perhaps I can try and move this a bit such that it becomes upper-left-corner?

[2015-10-25 23:01] paked commented on #26
Sure.

On Mon, Oct 26, 2015 at 9:59 AM Etienne Bruines <notifications@github.com>
wrote:

[2015-10-25 23:31] paked commented on #27
Awesome. We definitely need some sort of pause/menu feature. My only concern would be making the menu too specific and not flexible enough for general use. IMO we should view the pause menu as a group of `Entity`s which represent a UI + pause logic.

Regarding your second proposal, I don't quite understand why you wouldnt just use an interface?

[code]

Also, perhaps implementing `Save` logic into

[2015-10-25 23:33] EtienneBruines commented on #27
So it should have some kind of `PauseSystem`, which some `Entity` would `require`?

w.r.t. the second proposal:
The idea was the `map`, not those specific entries of the map. It would create a menu with the strings as buttons (or w/e), and execute the function on select.

[2015-10-25 23:41] paked commented on #27
Yes. A `PauseSystem` would be good. We could make use of the `Message`-ing features, to summon the `PauseSystem`.

@EtienneBruines I think it would be best to allow each `Entity` to handle its own behaviours.

[2015-10-26 21:02] #26 closed

[2015-10-26 23:20] EtienneBruines opened #30 "Write a Tutorial about Animation"
The wiki is an excellent place for extra information than the demos offer.

@matiwinnetou offered to do this for the Animation.

( [Animation Wiki](https://github.com/paked/engi/wiki/Animation) )

[2015-10-26 23:22] EtienneBruines opened #31 "Add images/diagrams to the Camera Tutorial"
I think the tutorial about the Camera would benefit from diagrams / images showing objects in some 2d-plot.

This is quite some effort, so I'd say this is low-priority (you can label it as such).

( [Camera Wiki](https://github.com/paked/engi/wiki/Camera) )

[2015-10-27 08:34] matiwinnetou commented on #4
Close please.

[2015-10-27 08:35] matiwinnetou commented on #19
Close please.

[2015-10-27 08:35] #19 closed

[2015-10-27 08:36] matiwinnetou commented on #30
Yes I will take this. You can assign me, since I cannot do this myself

[2015-10-27 09:10] paked commented on #30
@matiwinnetou I don't think I can assign you if you aren't a collaborator on the repo

[2015-10-27 09:11] #4 closed

[2015-10-27 09:11] EtienneBruines commented on #30
@paked you are [correct](https://help.github.com/articles/assigning-issues-and-pull-requests-to-other-github-users/).

[2015-10-27 19:59] matiwinnetou commented on #31
@EtienneBruines I looked at your tutorial, this is awesome work!!!

[2015-10-27 20:49] paked commented on #31
:+1: for @EtienneBruines

On Wed, Oct 28, 2015 at 6:59 AM Mateusz Szczap <notifications@github.com>
wrote:

[2015-10-28 18:46] EtienneBruines commented on #27
A `PauseSystem` with the `Message`-ing features would work.

Thinking about what might be the best idea on how to stop "everything" - since we still want the menu to work. We still need (most of) the systems: `RenderSystem`, `AnimationSystem`, and possibly some other systems as well. We could use the `PriorityLevel` for this; the downside is that it's only attached to `RenderComponent`s, and not t

[2015-10-28 18:50] EtienneBruines opened #32 "Consistency between Type and Name"
Some interfaces require implementation of the `Name() string` function, while others require the `Type() string` function.

Both are implemented in exactly the same way (which could also be done by `reflect`, but that's another story). We should create some consistency and use either one of those.

Thoughts on which one?

[2015-10-28 18:58] EtienneBruines commented on #14
Note that the example `falling.go` has a `DeathSystem` that listens for `ScoreMessage`s, but they are not defined, nor sent.

[2015-10-28 20:07] EtienneBruines opened #35 "Cleanup: engi has both responder and Wo - global"
In `engi.go`, two variables are globally defined:

[code]
They have exactly the same value, and are used for exactly the same. Which one are we keeping?

Side-node, if it's a `Responder` (and not a `World`), should we even call it `Wo`? It took me a while before I noticed why `Wo` didn't have the functions / variables available that `World` has.

[2015-10-28 20:18] EtienneBruines commented on #35
And I wonder if we should keep the distinction between `Responder` and `World`? It looks nice, but is there any implementation of `Responder` that isn't `World`, that would make sense?

[2015-10-28 20:30] paked commented on #14
@EtienneBruines Was this fixed in your latest PR?

[2015-10-28 20:30] paked commented on #32
@EtienneBruines I vote `Type()`

[2015-10-28 20:31] EtienneBruines commented on #14
As it wasn't a compiler-error, no, it wasn't. I wasn't sure at which point it should send `ScoreMessage`s.

[2015-10-28 20:32] EtienneBruines commented on #32
Shall I make a PR for this?

[2015-10-28 20:37] paked commented on #32
SGTM!

[2015-10-28 20:38] paked commented on #35
I originally made `World` different to `Responder` because it would make it easier to implement... I see now that is isn't an optimal solution. I'd suggest removing Responder altogether.

[2015-10-28 20:55] EtienneBruines commented on #35
It may be optimal, just didn't see the point in it ;-).

Shall I make a PR for that as well?

[2015-10-28 21:18] EtienneBruines commented on #35
Found out, `Responder` did serve a useful purpose.

One could easily create his own (`Game`), and then pass that along.

[2015-10-28 21:36] paked commented on #14
@EtienneBruines makes sense. I'll add this to my TODO list.

[2015-10-28 21:36] #32 closed

[2015-10-28 21:37] paked commented on #35
@EtienneBruines Yes. Are we anticipating people will want to make their own Game's though?

[2015-10-28 21:38] EtienneBruines commented on #35
We at least want them to pass a `Setup()` function, and perhaps a `Close()` / `Cleanup()` function?

[2015-10-29 13:45] paked commented on #35
@EtienneBruines I believe it is more idiomatic to use the second option. Unless we were to go full events (ie. `Worlds.HandleFunc(e engi.SetupEvent, f func(c engi.Contenxter))`), which I do not think is the direction we should be heading in

[2015-10-29 14:20] EtienneBruines commented on #35
So, to be sure, we'd want something like:

[code]

to which we could possibly add stuff if we'd want to.

[2015-10-29 20:02] paked commented on #35
Ok. Do we know if this would kill the existing implementation of Responder?

On Fri, Oct 30, 2015 at 1:20 AM Etienne Bruines <notifications@github.com>
wrote:

[2015-10-29 22:28] EtienneBruines commented on #35
Yes and no.

Those things that are happening in `Preload()`, will now have to happen in `Setup()` - which is OK, since they basically were meant for the same thing.

[2015-10-29 22:51] paked commented on #35
@EtienneBruines I'd like to see an implementation of this. It seems like it could be worth doing.

[2015-10-30 19:30] matiwinnetou commented on #35
@paked: it is a voluntary work, it would be unfair to require this from Etienne :)

[2015-10-30 19:32] EtienneBruines commented on #35
Still, doesn't sound like a lot of work ;-).

I won't be able to do this in a separate PR; but I can manage to do this in the major changes I've done to `AudioSystem` and `CameraSystem`?

(Then again, if anyone else would like to do it instead; I don't want to take away potential nice tasks)

[2015-10-30 20:26] EtienneBruines commented on #35
@paked @matiwinnetou The idea / implementation is fairly simple, I now have this:

[code]

The tricky part is this. For keys that are pressed, one just had to check whether their `State` was `.Down()` or not. However, in the current (read: old) implementation, the `Scroll` was handled by a `Scroll` method on the interface.

Now I'm wondering, what the best way is to handle the Scroll events. Perha

[2015-10-30 20:40] EtienneBruines opened #40 "Benchmarking / Non-GLFW solution"
## What

Would be nice to have a way to "disable" GLFW renderings, and just test the "logic" behind it all. In other words: I want to be able to benchmark `engi`, using `go test`.

## Why
This makes automated tests easier, as well as benchmarking a certain solution (i.e. `Message`-usage) - in order to improve its performance.

------

## Tasks (and possibly more to add):

- [ ] allow to remove FPS

[2015-10-30 22:27] matiwinnetou commented on #35
@paked @EtienneBruines For me there are some generic things I would like to discuss with design of world. In our implementation, we allow people to loop through all entities in the world and do something for certain components in those entities. Here I can see this is missing, update function takes entity and delta time. It doesn't seem like I have access to other entities.

[2015-10-30 22:46] paked commented on #35
@matiwinnetou @EtienneBruines Sorry if I came off forceful with that comment. I only meant that it would be an interesting avenue to explore.

[2015-10-30 22:47] paked commented on #35
@matiwinnetou Doesn't messaging a system that contains those entities solve that problem?

[2015-10-30 22:48] paked commented on #35
I'd rather stick without handlers for the input interfacing

[2015-10-30 22:50] paked commented on #40
I agree. I really would like to have a headless mode too. It would make
writing multiplayer games easier too!

On Sat, Oct 31, 2015 at 7:40 AM Etienne Bruines <notifications@github.com>
wrote:

[2015-10-30 22:50] EtienneBruines commented on #35
And by handlers you mean `Callback` handlers, or a function people need to implement as part of an `interface`?

Or would you rather have them check the state of the last input in a way that the `Keys` are done currently?

[2015-10-30 22:52] paked commented on #35
I'd rather keep it analogous to the rest of the input methods

On Sat, Oct 31, 2015 at 9:50 AM Etienne Bruines <notifications@github.com>
wrote:

[2015-10-30 22:54] EtienneBruines commented on #35
Currently, that means checking their state on an `Update` function, without special handlers.

[2015-10-31 14:24] EtienneBruines commented on #40
I'm not that experienced in multiplayer games; how would doing this make it easier?

(the only thing I can think of, is having the actual game "played" at the server (which would require the headless mode), and have the clients just have a representation of what's going on?

[2015-10-31 14:25] EtienneBruines commented on #40
Shall I split this issue into two?

* Allow GLFW in tests
* Create a headless mode

[2015-10-31 15:05] EtienneBruines commented on #27
Is there anything else we want to implement from this Issue?

[2015-10-31 22:01] paked commented on #40
@EtienneBruines Not really much point now...

[2015-10-31 22:02] EtienneBruines commented on #40
I guess I just fixed both of these, in one commit ... Thought it'd be more work. Apologies!

[2015-10-31 22:22] paked commented on #40
@EtienneBruines Don't apologise! Great job!

@EtienneBruines Yes. Regarding that is how multiplayer games (usually) work. Server runs the "master copy" of the game, clients run a "local copy" and forward their keystrokes etc to server.

[2015-10-31 22:22] #40 closed

[2015-10-31 22:24] paked commented on #14
Regarding this. I believe we can drop the `botmark` demo. It was a benchmark, and those are being worked on in #40

[2015-10-31 22:25] EtienneBruines commented on #14
:thumbsup:

[2015-10-31 22:29] EtienneBruines opened #43 "AudioSystem - Weird sound at start"
Whenever the background music starts, I hear some kind of weird 'popping' sound. Not sure what it is, or how to fix it. Sounds almost like the speakers turning on.

Anyone else hear that sometimes?

[2015-10-31 22:47] EtienneBruines opened #44 "WorldBounds.Max default before Setup"
Before calling the `Setup()` function, we should have set the `WorldBounds.Max` value.

Currently, this happens when `World` is created, which is after calling `Setup()`. If we do so before, users can actually use those default values (or override them if they want to).

[2015-10-31 22:56] EtienneBruines opened #45 "Animation: default"
The idea is that something has a user-defined default animation (i.e. standing still).

Whenever someone wants to do something (i.e. animate a "grab", "jump", "kick", "nod", etc.), he calls a function and duration:
[code]
It animates as it normally would, but instead of repeating it, it would go back to animating the default behavior.

Thoughts? @paked @matiwinnetou

[2015-11-01 01:33] paked commented on #45
What if we added an extra field to the `Animation` call for looping. `Animation(id, time, loop) or something.

Also, when you add an `Animation` you should be able to set it as default.

[2015-11-01 10:13] matiwinnetou commented on #45
Sounds like a good idea , I can try to prototype this.

I guess the usecase could be as follows as well:
character (our hero :+1: ) moves and then he jumps, we need to create new animation but instead of repeating this do this once, complete and proceed with character walking.

[2015-11-01 10:17] matiwinnetou commented on #44
I would have even more general question that I would like to add.

I think we have to be careful, WorldBounds probably makes sense in certain apps (where there is a territory different than game's window). I can imagine a class of very simple games that do not need any WorldBounds are exactly the same as engi.Width() and engi.Height(). Therefore in my humble opinion these things should always be p

[2015-11-01 10:18] matiwinnetou commented on #30
thx for assigning me I will finish this soon.

[2015-11-04 13:23] EtienneBruines opened #53 "Multithreading"
As Go is such a nice language to do multithreading in, and most games lack multithreading, it'd be nice if we supported it.

Currently, each frame, we are iterating over all `System`s, and iterating over all `Entity`s "in" those `System`s.

I'm not sure if we can safely multithread multiple `System`s at once, but we could easily multithread the iteration over `Entity`s?

### Current implementation

[2015-11-04 15:21] EtienneBruines opened #55 "GetComponent - performance w.r.t. reflect"
The `GetComponent` function we use, is quite nice. The current usage being:

[code]

However, `reflect` is quite slow.

An alternative:
[code]
But ... This does not feel right, but rewriting it as this isn't perfect either:

[code]

Or this:

[code]

Ignoring the `reflect` package and try to manipulate it with the `unsafe` package also didn't quite work.

The fastest solution I've come up so far,

[2015-11-04 20:10] paked commented on #55
Before we make any assumptions. I'd like to question how slow it actually is, and if it would *actually* effect out games? Can we get a benchmark on this?

[2015-11-04 20:46] EtienneBruines commented on #55
What would you like to see benchmarked? I've benchmarked the `CollisionSystem`, and there it was mostly occupied with `GetComponent`.

[2015-11-04 21:48] matiwinnetou commented on #53
This is quite controversial change. Keep in mind that there are issues to write from multiple threads to the same components so all components data access would have to be synchronized.

If we would be able to solve this problem we would rock but problem is rather tricky IMHO.

Putting read write mutex everywhere may not buy us much either. For 2D games which this engines aims for this is an extra

[2015-11-04 22:29] EtienneBruines commented on #53
That depends; how often do `System`s write to something else than the object it's currently handling?
Are there any aspects in particular where you expect to see problems? (multithreading in Go is quite easy, so I think it could be done).

Keep in mind that we're not letting two `System`s process in parallel. Only one `System` would be handling all `Entity`s at the same time.

[2015-11-04 22:35] paked commented on #53
There are actually a *boat* load of problems with using concurrency with Go in my experience. If we cannot guarantee that a group of systems the game engine will actually behave differently.

Consider a collision system and movement system. Depending on the order these are ran, they will have ***different*** game-breaking outcomes.

Leaves the player falling into the ground when the state is rende

[2015-11-04 22:40] EtienneBruines commented on #53
I get your example. But:
* this is a problem even without multithreading;
    * As they are now also handled `System A`, then `System B`
* this could be fixed, even when using multithreading.
    * All we need is some kind of `Priority` for the `System`s.

[2015-11-04 22:49] EtienneBruines commented on #53
Is it OK if I spend some time on this, to see if we can do this without changing the *current* behavior? Then when reviewing the PR, we could always say GO/NO-GO.

(if you think it's a waste of time: I'll probably be starting in 8 hours or so; and doing it for fun - so I won't be offended if it's denied afterwards)

[2015-11-04 23:15] paked commented on #53
@EtienneBruines If you can make it work, I am all ears. Go for it!

[2015-11-05 07:15] EtienneBruines opened #56 "RemoveEntity at System level"
@matiwinnetou and I talked about this a few days ago; `RemoveEntity` is now implemented at `World`, which removes it from the global list of `Entity`s, but it also needs to be removed from the specific `System`s that update the `Entity`.

[2015-11-05 07:44] EtienneBruines commented on #55
[code]

Note the `cum%` column; this is the percentage of the total runtime, it's busy doing `GetComponent` (or any function called by `GetComponent`).

[2015-11-05 09:58] EtienneBruines commented on #53
@matiwinnetou I used your `galaxian` example, just to show it works for massive numbers of renderables.

Note that it becomes slower over time, because of #56. This is expected.

Also note that the lagging starts after it starts to render 60.000 objects - this is not shown, though.

@paked @matiwinnetou You can look at the code; a bit more complicated, but then again: once it works, it works. And

[2015-11-05 10:45] paked commented on #56
Ah. That needs to be fixed,

[2015-11-05 10:48] paked commented on #53
This is pretty awesome. I'll review this.

[2015-11-06 19:57] EtienneBruines opened #57 "Undraw something"
Removing something from the `RenderSystem`, does not remove it visually.

Asked [SO](https://stackoverflow.com/questions/33574809/glfw-undraw-something) to help - wouldn't know where to begin.

[2015-11-06 20:28] EtienneBruines commented on #57
Bug within `RenderSystem`. The `Pre` function does not take a pointer to the `RenderSystem`.

Will make a PR with quite some bugfixes soon.

[2015-11-06 21:18] EtienneBruines opened #59 "Click handling"
How should clicks be handled according to the ECS?

In `javascript`/`html`, there's some kind of propagation: the foremost element is clicked, then passed along to any other element that may have been involved ; and each time the element has the ability to stop the propagation.

In ECS, I would assume there is some kind of `System` that monitors whether or not something gets clicked?

Any best-pra

[2015-11-06 23:02] paked commented on #59
AFAIK there is no "Clicking Idiom" in ECS. @matiwinnetou correct me if I am wrong.

Clicking is something we desperately need though, I am a big fan of the propagation model from `javascript/html` though.

Would you mind if I took this PR?

[2015-11-07 09:27] EtienneBruines commented on #59
Be my guest.

[2015-11-07 09:55] EtienneBruines commented on #55
I just thought of the best mix between usage and performance.

[code]

Thoughts? @paked @matiwinnetou

[2015-11-07 09:57] #35 closed

[2015-11-07 09:57] #56 closed

[2015-11-07 09:57] #57 closed

[2015-11-07 09:58] paked commented on #55
@EtienneBruines Did you mean?

[code]

[2015-11-07 09:58] EtienneBruines commented on #55
I did; already corrected.

[2015-11-07 10:00] paked commented on #55
@EtienneBruines I like that idea, what about:

[code]

Trying to get rid of reassigning comp...

[2015-11-07 10:01] EtienneBruines commented on #55
`GetComponent` can only receive an `interface{}` for each `*Component`. And if you want to assign to an interface, you (unfortunately) have to use `reflect`.

[2015-11-07 10:10] paked commented on #55
I'm *really* not a fan of type assertions.

I'd like to go as long as possible without them. Do we have statistics from @matiwinnetou's galaxian yet?

[2015-11-07 10:11] EtienneBruines commented on #55
@paked Here they are https://github.com/paked/engi/issues/55#issuecomment-153979326

[2015-11-07 10:18] paked commented on #59
@EtienneBruines what are your thoughts on implementing this handler at the `World` level?

[2015-11-07 10:20] EtienneBruines commented on #59
A `ClickSystem`, together with `ClickComponent`s.

If an `Entity` has a `ClickComponent`, the `ClickSystem` will use the `SpaceComponent` and `Mouse` values to see if it's being clicked, and if so, either set some value at `ClickComponent` to `CLICKED`, or perhaps dispatch some `Message`?

[2015-11-07 10:22] paked commented on #59
@EtienneBruines I think implementing this as a `System` is a good idea. Although, if we do this we may as well remodel the way key input works as well.

I believe going with the messaging model for this would serve us best.

[2015-11-07 10:24] EtienneBruines commented on #59
Well, with keys the state is kinda important: just clicked, holded, released, etc. And combinations of keys.

A `click` is simply a `click`.

[2015-11-07 10:30] paked commented on #59
@EtienneBruines state can actually be important for `click`s too.

Imagine a button: You want to act when the button has been released!

Imagine a shooting game: You want to act when the button is first pressed, and perhaps when it is continuously held down.

===

Either way however, this is irrelevant (for both clicks and key presses). Data can be transferred within a message.

[For example](http

[2015-11-07 10:31] EtienneBruines commented on #59
Good point. Messages are kinda cheap anyway, so we could do that, yes.

[2015-11-07 10:40] paked commented on #59
Thoughts @matiwinnetou?

[2015-11-07 10:42] EtienneBruines commented on #55
Okay, the last snippet I put down, doesn't work. Even when fixing all the null-pointer exceptions (for which I still havent found the example), `c` does not change outside the function call.

This means we do either have to use reflect to assign it to an `interface{}` anyway, or return the Component, and then type-cast it. Not sure why you're not a fan of it, though.

[2015-11-07 10:51] EtienneBruines commented on #55
OK, the benchmarks aren't what I expected them to be. The question is: is this 20% worth it?

[code]

[2015-11-07 12:33] paked commented on #55
On IRC @EtienneBruines proposed a hybrid solution. This may be the best option to go with. As both options require the exact same internal data structures.

Suggestions for this second function were

* `Interface`
* `ComponentFast`

[2015-11-07 15:51] EtienneBruines commented on #55
I do like the sound of `ComponentFast`.

Then that leaves us with: which one should the `engi core` use? I would say the core should be as fast as possible, with the demos showing the usage of the one more readable.

Thoughts?

[2015-11-07 20:00] EtienneBruines opened #60 "Pause also hides items"
The current implementation of the `PauseSystem` also makes sure that everything that is paused, isn't rendered.

This is because it skips all `Entity`s that do not have an `UnpauseComponent` - and thus these `Entity`s are not passed along to the `RenderSystem`. This only showed once #57 was fixed.

The question here is: do we want this behavior? Don't we want this behavior? Do we want to make this

[2015-11-07 20:22] EtienneBruines commented on #59
(We should also note that this should indeed also cover things like `hover`)

[2015-11-07 21:28] EtienneBruines opened #62 "Colors within engi"
We currently use:

* `engi.Color`
* `color.RGBA`
* `uint32`

All of these represent colors. We should refactor and use only `color.Color`. This allows use of `color.RGBA`, and possibly others (it's an interface in the standard library `image/color`).

It's open for anyone who wants to do this.

[2015-11-07 21:45] EtienneBruines opened #63 "Mobile (+ tablet) support"
We'd like to support `engi` on Android and iOS.

List of thoughts:

* We would need OpenGL / GLFW available on the mobile device; or refactor a lot
* We would want to support both phones and tablets
* Mobile support should improve in Go 1.6.

Any additional information can be posted in this issue.

# Todo list
(will be added upon when needed)

* [x] Add within `webgl` a compatibility-layer for htt

[2015-11-07 21:58] EtienneBruines opened #64 "DoesExist and Hide"
This issue is two-fold:

* [ ] Remove the `DoesExist` function from the `Entitiy`s;
* [ ] Add a `Hidden` `PriorityLevel` to `system.go`, with a negative value (lower than `Background`); this will allow objects to not be rendered by `RenderSystem`. This can be set by the user in the `RenderComponent` the user adds.

It's open for anyone who wants to do this.

[2015-11-07 22:00] paked commented on #55
@EtienneBruines SGTM

[2015-11-07 22:08] paked commented on #53
@EtienneBruines now that we have benchmarks, would you mind them on this?

[2015-11-07 22:16] EtienneBruines commented on #53
What kind of benchmarks are you looking for? Anything in particular? (the estimate of 60k objects in the post above, was based on that benchmark implementation)

[2015-11-07 22:20] paked commented on #53
@EtienneBruines A comparison between non-concurrent vs concurrent would be good

[2015-11-07 22:20] EtienneBruines commented on #53
OK. Will do.

[2015-11-07 22:41] EtienneBruines opened #65 "Resizing window"
We should handle the resizing of the window.

The user should be able to say: I want my things to stretch / shrink as needed (useful for i.e. pong), or to leave the HUD as-is, and just provide a larger/smaller view of "the world" (useful for i.e. Prison Architect, Roller Coaster Tycoon (1+2), etc.)

Currently, the first is implemented. But there's no way to listen for a "ResizeMessage" or somethin

[2015-11-07 22:51] EtienneBruines commented on #44
I do get your point, @matiwinnetou. It might even be related to #65, in a way.

I think I know how I can make this work. The current `HUDGround` `PriorityLevel` uses a `Shader` which ignores the `Camera` completely.

The user could set the default either to what we use now, or to "handle everything as HUDGround", which would ignore all `Camera` settings. It would still use the `PriorityLevel` to s

[2015-11-07 22:52] EtienneBruines opened #66 "HUDGround ratio"
The current `HUDGround` `PriorityLevel` does not have a correct perception of pixels.

If you draw something with width `800`, and have a `1600px` monitor, you will see that the `Entity` covers the entire screen, not half.

Even though it's not hard to just do /2 in the users' code, this should be fixed.

[2015-11-07 22:58] EtienneBruines opened #67 "Renaming"
Some things in `engi` don't have idiomatic names.

Examples are:
* `engi.GetComponent` -> `engi.Component`
* `engi.Keys.KEY_SPACE` -> `engi.Keys.SPACE`

Also: we might want to think about removing `engi.Keys.SPACE` (and such) all-together? Since we have `engi.Keys.Get(engi.Space)` - which works for every key, and not just a few of them?

[2015-11-07 23:03] EtienneBruines commented on #43
Can either of you confirm (or refute), @paked @matiwinnetou  ?

[2015-11-07 23:04] paked commented on #66
:+1:

[2015-11-07 23:05] paked commented on #67
Remove the redundancy!

[2015-11-07 23:07] paked commented on #43
@EtienneBruines I hear it too.

[2015-11-07 23:10] EtienneBruines commented on #43
Up for grabs.

[2015-11-08 00:03] matiwinnetou commented on #64
Done, pull req open.

[2015-11-08 00:04] matiwinnetou commented on #63
+1 killer feature and would make engi professional not a toy project. Games on mobile are a reality since companies and individuals can earn serious money with this.

[2015-11-08 00:07] paked commented on #63
@matiwinnetou would you be interested in heading up this development?

[2015-11-08 00:13] paked opened #71 "JavaScript Backend"
While we are looking at different platforms to support in #63, I feel it would be good to open up discussion about what to do with the old GopherJS backed `JavaScript/HTML` backend.

I'm not quite sure how much work it would take to get the GopherJS backend working again. I suspect the hardest thing to do would be fixing up shaders and Font loading/rendering.

--------------

### Todo list:
(befor

[2015-11-08 00:13] #66 closed

[2015-11-08 09:22] matiwinnetou commented on #63
@paked no this is at the moment too big for what I can afford to this project. :(

[2015-11-08 14:11] EtienneBruines opened #72 "Changing PriorityLevel"
Right now, when changing the `Priority` in a `RenderComponent`, it doesn't get rendered correctly.

The current workaround is to add the `Entity` to the world again, to ensure the `RenderSystem` categorizes things correctly.

Note that this is because of the `rendersystem.changed` variable, which makes sure the per-`PriorityLevel` list doesn't have to get rebuild on each frame.

[2015-11-08 16:32] EtienneBruines commented on #72
Wow, this surely looks like a bug in Github.

A fork has a patch, and the original issue get closed :astonished:

[2015-11-08 17:25] EtienneBruines commented on #53
I am amazed by the results:

[code]

I truly expected a different outcome. I'm investigating as to how this is even possible.

[2015-11-08 18:04] EtienneBruines commented on #53
Seeing the results above, I think we could create a per-system setting of `RunInParallel`? Depending on the workload of the `System`, the user could say whether or not he wants to run it in parallel; because it may either greatly improve performance, or greatly reduce.

Thoughts @paked @matiwinnetou ?

[2015-11-08 21:01] paked commented on #53
I'd like to see this proposed... Not quite sure how reliable it would be in
practice.

On Mon, Nov 9, 2015 at 5:04 AM Etienne Bruines <notifications@github.com>
wrote:

[2015-11-08 22:17] EtienneBruines commented on #53
Well, `Systemer` is an interface which defines everything a `System` needs to have. It would include an additional:

[code]

Indicating whether or not it should process all `Entity`s in parallel. The `System` struct would return `false` just to be safe, and people can set it to `true` whenever they feel like it would boost their performance.

This is desired, probably because it's the only way the

[2015-11-08 22:28] paked commented on #72
weird.

[2015-11-08 22:31] EtienneBruines commented on #72
This kinda is fixed (so no need to fix it), but still awaiting a PR from @matiwinnetou. No hurries.

[2015-11-08 22:34] paked commented on #53
OK. I understand now. This seems like it would be totally kick ass.

[2015-11-08 22:34] paked commented on #72
:+1:

[2015-11-08 22:55] EtienneBruines opened #74 "Automatically add Systems"
In the `README.md` file, it reads:
* Automatically detect which systems should be added to based off component depends on

It's a nice idea, and I would like to use this issue to talk about it - possibly 'accepting' or 'rejecting' it as an idea.

-----
### Pros
* Easier to for the user, no need to manually add those Systems.

### Cons
* We possibly don't know the `System` - if it's `RenderSystem`,

[2015-11-08 22:58] EtienneBruines opened #75 "Demo count"
As @matiwinnetou also mentioned at IRC: it looks like we're going to have a huge amount of demos, if we keep going like this.

-----

What are we going to do about the huge amount of demos?

* Categorize them? (i.e.: audio-related, camera-related, etc.)
* Remove them? (i.e.: only take those most important)
* Merge them? (like in games as pong)
* Better document them in the "main" `README.md` file

[2015-11-08 23:00] EtienneBruines commented on #72
Fixed as of #69.

[2015-11-08 23:00] #72 closed

[2015-11-09 16:16] EtienneBruines opened #77 "Scenes in ECS"
With the term `Scene`, I mean something that fills the screen. Such as "level 1 in pacman", or "main menu", or "settings", or "high scores".

How should one handle this / switch between them, in ECS / engi?

My original thought was to add / remove `System`s on-the-fly, indicating which would be active and which would not. I am not sure if this is the best/correct way to go, or if there's another (

[2015-11-09 17:55] EtienneBruines opened #78 "GC creates strange results"
The Go Garbage Collector does some strange stuff, as we all know. It even made some benchmarks look quite weird.

I had a point where benchmarking the same function, 5 times, would increase in performance over time (1st benchmark 100%, 5th benchmark 87% of the runtime).

Perhaps we should use `runtime.MemStats.EnableGC = false`, to disable GC completely, and then call `runtime.GC()` just before we

[2015-11-09 19:23] EtienneBruines commented on #78
You know, let's not ...

(perhaps only in benchmarks, with `GOGC=off go test ...`. )

[2015-11-09 19:23] #78 closed

[2015-11-09 19:40] #64 closed

[2015-11-09 19:41] EtienneBruines commented on #64
resolved as of #69 .

[2015-11-09 19:42] matiwinnetou commented on #43
on Mac Osx - El Capital I hear this too.

[2015-11-09 19:44] matiwinnetou opened #79 "Ideally each ECS system and component should be in own go file"
Imagine we had `render.go` where `RenderSystem` and `RenderComponent` would go, etc

Now it is a bit tricky to navigate around the code, this would make it much easier. Gray areas we could still discuss.

[2015-11-09 19:45] EtienneBruines commented on #79
Same goes for `CollisionSystem` and `CollisionComponent`.

[2015-11-09 19:46] matiwinnetou commented on #74
I would say this is ready advanced function if ever to do. Our ECS doesn't even come close to this.

There is also element of magic with this so I would be really skeptical and overall I would be careful with this feature.

[2015-11-09 19:53] matiwinnetou commented on #27
Would this be pluggable by a developer or would this be core engine feature like CameraSystem?

[2015-11-09 19:55] EtienneBruines commented on #27
Well, the `PauseSystem` has been implemented, and is completely pluggable.

I'm not sure what else we want to implement, because the other stuff probably is up to the developer, and it wouldn't be anything useful if we did it. We are busy with building-blocks though, such as #59.

[2015-11-09 19:57] matiwinnetou commented on #53
@EtienneBruines

"So, depending on how fast the Update function on the System is, it makes perfect sense to multitask, or it will only make it slower."

This does not surprise me at all, matches with knowledge I have based on how multithreaded systems work.

[2015-11-09 19:58] EtienneBruines commented on #53
The turning point is somewhere between 50-500 nanoseconds; not sure what's the "average time" we a `System` needs.

[2015-11-09 19:58] matiwinnetou commented on #79
Same may go for a few things. It was just an example.

[2015-11-09 19:59] EtienneBruines commented on #79
Let's create a list? (preferably in the first post in this issue)

[2015-11-09 20:19] EtienneBruines opened #80 "All Entitys in one map/slice"
In order to reduce Garbage Collection, we could keep track of all our `Entity`s, and keep them all in the same `map` or `slice`.

Everything within a `[]Entity` is ignored for GC, but `[]*Entity` *is* being tracked by GC. We could keep one list of all `Entity`s.

Not sure if it would increase performance, but it's worth the benchmark.

[2015-11-09 20:27] matiwinnetou commented on #79
I started doing this to prototype this. It bothers me personally this situation at the moment.

[2015-11-09 20:59] matiwinnetou commented on #79
https://github.com/paked/engi/pull/81

[2015-11-09 21:06] #79 closed

[2015-11-09 21:06] matiwinnetou commented on #79
Done

[2015-11-11 20:17] matiwinnetou commented on #67
https://github.com/paked/engi/pull/84

[2015-11-11 20:18] matiwinnetou commented on #67
My pull request doesn't fix the issue of engi.GetComponent vs Component but I think it is better to do this in steps.

[2015-11-11 20:48] EtienneBruines opened #85 "Fix performance issues"
I don't know *exactly* why (yet), but [this code](https://github.com/EtienneBruines/bcigame) runs (after selecting "New Game", and adding 100 entities on-screen), at a mere 17 FPS.

I'm not saying I want to reach 1,8 million fps again (which we'll never reach with rendering), but looking at the things I'm doing, I feel like this should be fixed.

The go profiler says it's mostly `external code` :d

[2015-11-11 21:35] EtienneBruines commented on #85
Possible solution: use spritesheets instead of 100 different `Texture`s. Apparently that's too much for `glfw` to handle.

[2015-11-14 09:50] #85 closed

[2015-11-15 08:54] #67 closed

[2015-11-15 08:54] matiwinnetou commented on #67
done

[2015-11-15 09:30] paked commented on #67
:+1:

[2015-11-21 21:03] Kunde21 commented on #53
If we can be sure that a call to `System.Update(entity *Entity, dt float32)` won't cause any internal race conditions, there's no reason to limit the number of go-routines in the concurrent implementation.

    func (w *World) update(dt float32) {
            w.pre()

            var unp *UnpauseComponent

            for _, system := range w.Systems() {
                    if headless && system.S

[2015-11-21 21:05] EtienneBruines commented on #53
Is there a reason not to limit it? (i.e.: with Intels HyperThreading, one could limit to `2*NumCPU`).

Even if there's little overhead, what's the reason for having the overhead, if it can be avoided?

(I don't mean to "attack" you; just curious - I might even learn something)

[2015-11-21 21:20] Kunde21 commented on #53
Limiting the number of workers using channel constructs means you're paying the time and resource overhead to synchronize and pass data via the channel.  There's no guarantee that the dispatcher is able to saturate the workers with tasks, resulting in under-utilized worker go-routines.

Spinning off a go-routine per job means that every go-routine has 100% utilization, internally, and the runtime

[2015-11-21 21:26] EtienneBruines commented on #53
Interesting that you mention that tweet; I also noticed it, but also noticed that neither of those things he's comparing, are actually executed in parallel. If one uses multiple long-lived workers, the workers are actually faster.

But I only tested that hypothesis using the same example as bradfitz (multiplying the input by `2`). Not sure if it holds in this scenario.

The up-side about this, is

[2015-11-21 21:30] Kunde21 commented on #53
The `complChan` channel in my snippet is used in place of the waitgroup to ensure all go-routines are executed before moving on to `system.Post()`.  Sending a `struct{}{}` down a channel doesn't allocate any memory, so the cost of that operation is minimal.

[2015-11-21 21:30] EtienneBruines commented on #53
My bad; you're completely right.

[2015-11-22 02:00] Kunde21 commented on #53
Do you have those benchmarks handy from (these tests)[https://github.com/paked/engi/issues/53#issuecomment-154842634]?

[2015-11-22 04:35] Kunde21 commented on #53
I put a few more steps into the current benchmarks.   It seems that the tipping point is around 20 entities in a system.  The efficiency of concurrency grows really quickly above there, to 2-4x speed-up at 1,000 entities.

Here's my results for `GOMAXPROCS` set at 8 and 4 cores:
[code]

[code]

[2015-11-22 06:23] Kunde21 commented on #53
Added PR #88

[2015-11-22 06:47] Kunde21 commented on #53
I just realized the misunderstanding in your comment here:  https://github.com/paked/engi/issues/53#issuecomment-158683322.  In fact, that was the same thing I initially thought.

That benchmark code isn't comparing concurrent to serial.  Instead, it's comparing the cost of passing a value between go-routines through a channel to passing a value between go-routines via function call to a closure.

[2015-11-22 15:22] EtienneBruines commented on #53
I have updated my branch to the current `origin/master`, and am now producing this benchmark:

[code]

Note that my CPU might be different than yours, so the raw `ns/op` should not be compared (which you probably know).

I am investigating as to why the `allocs/op` and `B/op` becomes higher at `100` and `1000` Entities.

[2015-11-22 21:34] EtienneBruines commented on #7
Fixed as per #88.

[2015-11-22 21:34] #7 closed

[2015-11-25 12:11] EtienneBruines commented on #55
Fixed as of #73.

[2015-11-25 12:11] #55 closed

[2015-11-25 14:05] EtienneBruines opened #90 "Trello"
We should either keep it up-to-date, or remove the link from the `README.md` page.

https://trello.com/b/VdqrmpEz/github-com-paked-engi

[2015-11-25 14:10] EtienneBruines commented on #53
Fixed as of #88 and #89.

[2015-11-25 14:10] #53 closed

[2015-11-25 14:11] EtienneBruines commented on #60
Closed because no-one seems to have a problem with the current implementation.

[2015-11-25 14:11] #60 closed

[2015-11-25 14:13] EtienneBruines commented on #80
Let's not. This way the user can create the `Entity`, and keep track of it, instead of relying on `engi` when accessing it.

[2015-11-25 14:13] #80 closed

[2015-11-25 14:16] EtienneBruines opened #91 "Docs in README"
[Docs section](https://github.com/paked/engi#docs) at `README.md` could use some work.

I'd say we keep those "thoughts" in separate issues, so they can be addressed / discussed in an orderly manner? Some of them are vague (issues would clarify them).

[2015-11-25 19:59] paked commented on #91
:+1:

[2015-11-25 20:00] paked commented on #90
Remove. GitHub issues are working fine.

[2015-11-25 21:41] EtienneBruines opened #93 "System New does not have access to system.World"
The `system.World` variable is being set after the `system.New()` function is being called.

As such, one does not have access to the `World` from the `system.New()` function (null-reference). This should be fixed by simply switching two lines: first calling `SetWorld`, then calling `New()`.

[2015-11-25 22:45] EtienneBruines commented on #93
Apparently, this was not as easy as I thought:

* `system.world` (the variable), gets reset on `system = NewSystem()`, which is being called in most `New()` functions;
* `system` is initialized in the `New()` function, so there's no `system` of which we can set the `world` variable.

Thoughts @paked?

[2015-11-25 23:23] paked commented on #93
@EtienneBruines Your proposed solution sounds good to me. I feel it works much better with ECS.

[2015-11-26 12:55] EtienneBruines opened #95 "Multiple entities forming one entity"
Imagine one having an `Entity`, with a `RenderComponent` - let's say this is a character in-game.
Now, let's say that this character has a health-bar, a bar that's more/less green, right above his head.

The health-bar is associated with the character, and therefore would be the same `Entity`. But as there's only room for one `RenderComponent` for that `Entity`, it should become another `Entity`.

[2015-11-26 13:32] EtienneBruines opened #97 "Zooming does not work properly"
Zooming in/out does not reset to 0.

i.e.: zoom in once, and `engi` keeps saying you're zooming in.

[2015-11-26 13:38] EtienneBruines opened #98 "Pause demo still uses deprecated Scroll event"
Should be updated to reflect recent changes.

[2015-11-26 14:02] EtienneBruines opened #101 "Neater systems adding"
As the previous `README.md` stated, we possibly want `Neater systems adding`.

I'm currently satisfied with the way `System`s are added, so if @paked can either clarify or close the issue, that'd be great. :-)

[2015-11-26 14:04] EtienneBruines opened #102 "Clean entity construction from an external file"
As the old `README.md` stated, we might want to read `Entity`s from an external file.

Personally, I disagree that this should be done by `engi` - as it would require us to encode/decode the components the user has defined.

If @paked could clarify why we want this, or close the issue, that'd be great.

[2015-11-26 14:05] EtienneBruines opened #103 "NewComponent"
As the old `README.md` stated, we might want to:
[code]

I assume this has something to do with consistency, but i'm not sure.

If @paked could clarify, or close this issue, that'd be great.

[2015-11-26 14:06] EtienneBruines opened #104 "Presets (prefabs?) for the easy re-initialization of an entity pattern"
As the old `README.md` stated, we might want to:
[code]

I'm not sure what's wrong with the current implementation, or what we'd want to change.

If @paked could clarify, or close this issue, that'd be great.

[2015-11-26 14:33] EtienneBruines commented on #59
Have you already started working on this, or can I create something with a `ClickSystem` and `ClickComponent`, which has some states (i.e. `Clicked`, `Hovered`, `Focused`, etc.)?

(I'm making a little game, and am in need of this; don't want to rush you, but also don't want to wait if you don't have time for it anyway; again: **I do not mean this in a negative way**, whatsoever. :smile:  )

[2015-11-26 19:48] paked commented on #59
@EtienneBruines feel free to take this.

[2015-11-26 19:49] #90 closed

[2015-11-26 19:50] #93 closed

[2015-11-26 19:52] paked commented on #95
Most other engines implement this as a group.

However, I have no idea how this looks from an ECS standpoint. Perhaps things are just bound together because they are part of the same system?

[2015-11-26 19:53] paked commented on #103
This was to do with consistency of returning pointers. I believe we fixed it a while ago.

[2015-11-26 19:53] #103 closed

[2015-11-26 20:31] EtienneBruines opened #105 "Sorting System by Priority"
Each `Systemer` has a `Priority()` function, which returns an `int`.

We should sort the list of `Systemer`s in `World`, after adding one, by that `Priority` value. It was probably added with that idea, but it was never implemented.

[2015-11-26 21:20] EtienneBruines commented on #59
Tricky; currently at "how to handle zooming", and "how to handle scrolling to the sides".

The very basics work.

[2015-11-26 22:09] #91 closed

[2015-11-26 22:09] EtienneBruines commented on #91
Done.

[2015-11-26 22:19] EtienneBruines commented on #44
I have given this some thought.

With new patches coming up, that allow for 'hovering' events, there should be no difference between `HUDGround` and any other `PriorityLevel`. Default zoom level is 1, which changes nothing. And default location of the camera, is also set to center the window.

Furthermore, with recent changes, this 'issue' even got addressed (unnoticed); `WorldBounds.Max` is now s

[2015-11-26 22:19] #44 closed

[2015-11-26 22:32] paked commented on #59
:+1:

On Fri, Nov 27, 2015 at 8:20 AM Etienne Bruines <notifications@github.com>
wrote:

[2015-11-26 22:33] #105 closed

[2015-11-26 22:35] #97 closed

[2015-11-26 22:35] #98 closed

[2015-11-26 22:36] #62 closed

[2015-11-26 22:36] paked commented on #101
This was before we had the current model!

[2015-11-26 22:36] #101 closed

[2015-11-26 22:41] paked commented on #104
@EtienneBruines Unity has a system where one can create an `Entity` and the re initialise it multiple times into new entities. I think a similar system would be pretty cool. I imagine something liek

[code]

This should be added after groups.

[2015-11-26 22:41] paked commented on #102
Closing because doesn't fit within the scope of the project. Maybe in the future.

[2015-11-26 22:41] #102 closed

[2015-11-26 22:42] paked commented on #77
I think that instead of doing this with Systems, we should allow switching between `World`s or `CustomGame`s.

[2015-11-26 22:45] paked commented on #75
I'd be down to categorization. I don't think they should be moved into a separate repository. Maybe we should add a better index in `demos/README.md`

[2015-11-26 22:46] paked commented on #74
I *really* would like this. I think it removes so much user error.

[2015-11-28 10:40] matiwinnetou commented on #77
:+1: @paked

[2015-11-28 18:17] EtienneBruines commented on #74
@paked do we want this for all (possibly user-defined) `System`s, or just for the ones `engi` has? (i.e. `RenderSystem`, `AudioSstem`, ...)

[2015-11-28 18:21] EtienneBruines commented on #95
An `Entity` mainly being a `[]Component`, a group would roughly be `[][]Component`.

I could imagine we add another `Update` function?

[code]

(Note that we probably cannot cast to `[]*RenderComponent`, but for the sake of argument, let's say we could)

[2015-11-28 19:28] EtienneBruines opened #108 "Clean up World"
The `World` contains a few things not needed:
* `Batch`s; they belong in the `RenderSystem`, not the `World`.
* List of `Entity`s - they are already referenced in the `System`s, so why do we need it?

Inside `world.new()`:
* Initialization/adding of the `CameraSystem`.
* Setting default `WorldBounds`.

Side note:
* Where do we want to keep `WorldBounds`?

(I'm trying to keep the ECS as clean as po

[2015-11-28 20:36] EtienneBruines commented on #108
I am going to take this one step further.

Let's say we have three packages:
* `engi/ecs` - with things like `World`, `System`, `Entity` and `Component`, their definitions, and how they work.
* `engi/systems` - with things like `RenderSystem`, `ComponentSystem`, etc.
* `engi` - which has the `run` functions, the main loop which calls `World.Update()`, and uses the two packages mentioned above.

Th

[2015-11-28 21:38] matiwinnetou commented on #108
1. For me most natural is to have list of entities in the world. Also when we want to introduce scenes then it is most natural world holds reference to the entities.

[2015-11-28 22:03] EtienneBruines commented on #108
1. Another use-case might be to change the way the `PauseSystem` works. It could be used to remove `Entity`s that are paused, from those `System`s. Then we would need the list in `World` to unpause (add them to the `System`s again).

[2015-11-28 22:32] paked commented on #108
@EtienneBruines I don't really see a use-case for splitting up the package. We're not having of those sorts of issues yet.

[2015-11-28 22:33] EtienneBruines commented on #108
@paked You could use ECS for anything you want, not just `engi`. It wouldn't crash when you tried to use it w/o engi / glfw.

[2015-11-28 22:35] paked commented on #108
@EtienneBruines Hmmm. Ok, *that* is valid.

[2015-11-29 19:11] paked opened #111 "Scroller Examples Broken"
Both these examples do not seem to be reacting to input

* [ ] KeyboardScroller
* [ ] EdgeScroller

[2015-11-29 19:14] paked opened #112 "Fix Pong Example"
When I run the Pong example on my OSX 10 El Capitan (Haven't tested other platforms) machine, it looks like the following image.

This probably has to do with the recent refractoring.

![screenshot 2015-11-30 06 12 44](https://cloud.githubusercontent.com/assets/8407370/11459372/660e3982-9729-11e5-9584-a698f10b5a80.png)

[2015-11-29 19:14] paked commented on #108
I've merged in this PR. LMK if it is not finished.

[2015-11-29 19:14] #108 closed

[2015-11-29 19:16] paked commented on #95
@EtienneBruines I think the best way to do this would be with a group of `Entity`s, as opposed to `[][]Component`.

[2015-11-29 19:23] EtienneBruines commented on #112
This has to do with the default values of the `CameraSystem`. I believe this will be fixed in the "Added Scenes"-patch, which should be available soon.

[2015-11-29 19:43] EtienneBruines commented on #112
Same cause as #111.

[2015-11-29 19:54] #111 closed

[2015-11-29 19:54] #112 closed

[2015-12-07 20:49] EtienneBruines opened #117 "Golint engo"
Mostly a matter of "should have comment", but these should be fixed.

[code]

[2015-12-07 21:22] EtienneBruines commented on #117
I started at https://github.com/EtienneBruines/engi/tree/golint.

[2015-12-08 10:46] EtienneBruines opened #119 "Systems without Entities"
Maybe it doesn't completely capture the ECS paradigm, but it has happened to me more than once.

Whenever the `System` has to do something with time (spawn creep after 5 seconds), or something with keys (show menu on ESC), I have to add a dummy `Entity` for this. If it doesn't have any `Entity`s, it's never called.

Would it be OK to call `Pre()` and `Post()` regardless of the amount of `Entity`s?

[2015-12-08 11:06] paked commented on #119
I had a discussion with a guy on the Gopher Slack about a similar issue.
Perhaps we should look at rewriting the way updates are handled. I propose
we let the author of the system do their own looping over each Entity, by
removing `Pre`/`Post` and having a single `Update(dt float32)` function
which is called once per frame, no matter what.

On Tue, Dec 8, 2015 at 9:46 PM Etienne Bruines <notificat

[2015-12-08 11:08] paked opened #120 "Update to luxengine/math"
[luxengine/math](https://github.com/luxengine/math) has an implementation of the stdlib's `math` package, but using `float32`s... This would make our math code *a lot* nicer, removing the constant type casts.

[2015-12-08 12:43] EtienneBruines commented on #120
Never noticed that we did so much conversions. We should change it, yes.

[2015-12-08 12:46] EtienneBruines commented on #119
I had the same discussion, with (I guess) the same person ;-).

I agree with its usefulness; I would however also like to have a way to not-worry about it.

We could have this:

[code]

And everywhere we now say `AddSystem`, use that interface instead of that struct.

Thoughts @paked?

[2015-12-09 08:00] EtienneBruines opened #121 "Windows as target platform"
As games who want to be released through [Steam Greenlight](https://steamcommunity.com/greenlight/faq/), Windows support is kinda a must.

However, `engi` currently doesn't build with `GOOS=windows`.

[2015-12-09 08:02] paked commented on #121
Do you happen to have a stacktrace/error?

[2015-12-09 08:04] EtienneBruines commented on #121
Build errors:
[code]

[2015-12-09 08:15] EtienneBruines commented on #121
When manually enabling `CGO_ENABLED=1`, the first two disappear; the last one stands.

[2015-12-09 09:08] #77 closed

[2015-12-09 09:29] EtienneBruines commented on #121
Natively compiling on Windows leads to errors such as:
[code]

[2015-12-09 14:22] #121 closed

[2015-12-11 18:07] EtienneBruines commented on #74
Now that we have scenes, I think we could define some kind of `AddDefaultSystem`?

Usage:

[code]

And for each `Scene` that gets created, that same `engi.RenderSystem` could get reinitialized, without having to specify "I want a `RenderSystem`", for every `Scene`.

### Downside
i.e. the `RenderSystem` is kinda state-dependent: it needs a list of `Entity`s to work with, and that changes from `Scen

[2015-12-11 18:17] EtienneBruines opened #123 "HUD and recent changes in window resizability"
Everything from `engi.Background` till `engi.HUDGround-1` works. From `engi.HUDGround` and up, things are still a bit messed up.

[2015-12-11 19:06] EtienneBruines opened #124 "Transparency"
`renderComponent.Transparency` isn't being used anywhere.

We should use (or remove) it.

[2015-12-11 19:07] EtienneBruines commented on #124
nvm

[2015-12-11 19:07] #124 closed

[2015-12-11 19:41] EtienneBruines opened #125 "Cursor"
The names `engi.Arrow` and `engi.Hand` don't match the things they should (at least on my machine). At least, they don't match any of the other stuff at my machine.

I have to actually use `engi.Crosshair` (which is `nil`), to get the regular arrow / pointer back.

I currently have no idea what's causing this, or if anyone can reproduce.

[2015-12-11 21:35] paked commented on #74
@EtienneBruines I don't think this is worth it. We are leaving ourselves open to a *lot* of confusion IMO.

[2015-12-11 21:35] paked commented on #74
This should be closed unless you have another idea.

[2015-12-11 21:35] #123 closed

[2015-12-12 20:37] #74 closed

[2015-12-14 21:46] EtienneBruines opened #126 "Scenes and Messages"
Having multiple instances of the same type of `System`, when the `System.New(*ecs.World)` function registers it at our `engi.Mailbox`, messages get dispatched twice.

We should have one `Mailbox` per `Scene`.

[2015-12-14 22:15] EtienneBruines opened #127 "Preload and Scenes"
Currently, one can override the behavior of "keep `World` intact". This is good. If chosen to create a new `World` instead, the `Setup` function is called - this is also good.

However, the `Preload()` function is also called (another time). Is there a scenario in which we want this? (@paked) As files are usually just preloaded once.

[2015-12-14 22:17] EtienneBruines opened #128 "CameraSystem creation within RenderSystem creation"
Consider these lines of code (currently in `master`), within the `New` function of `RenderSystem`:

[code]

Looks OK, on first sight. However, with the introduction of `Scene`s, this isn't correct anymore (as we're using a global `cam` variable.

[2015-12-14 22:22] EtienneBruines commented on #128
Related to #126 because both are using global variables, which cause the bug.

[2015-12-15 16:03] #126 closed

[2015-12-15 16:03] #128 closed

[2015-12-16 10:51] EtienneBruines opened #130 "Cleanup after we're done"
Do we need actual cleanup? Or is this done when closing the program? (note that I am talking about stuff that's stored on the GPU RAM)

======

Examples of cleanup we might want:
* [ ] `Gl.DeleteProgram(program)`
    * This implicitly calls `Gl.DetachShader(shader)` and `Gl.DeleteShader(shader)`

[2015-12-16 10:52] paked commented on #130
This is something which is done in most glfw programs. It would make sense that we have to do this – I doubt CGO does it for us!

[2015-12-16 12:41] EtienneBruines opened #131 "Legacy drawing"
Do we want any of these? (edit if we come up with more)

------

Draw:
* [x] Circle
* [x] Polygon
    * [x] Triangle
    * [x] Rectangle
* [x] Line
    * [ ] Dotted line

Options:
* [x] Size (obviously)
* [x] Line width
* [x] Line color
* [x] Fill color
* [x] Border (+color? ) - don't know if this can be done

TODO:
* [x] Find out if we want this by using `Shader`s, or `Texture`s.

[2015-12-22 10:00] matiwinnetou commented on #131
Isn't that usually a low level graphics driver offers such features? Since I suppose we want to abstract a graphics driver then it would make sense to expose some sort of bridge interfaces for these shapes.

[2015-12-22 14:04] EtienneBruines commented on #131
Well, I haven't seen any easy `OpenGL` functions one could use; so I think it's up to us.

[2015-12-25 15:41] EtienneBruines opened #135 "Font.Render cleanup"
Each time we use the `font.Render()` function to generate a `Texture`, the texture data is sent to the GPU.

However, if the text we want to render, changes, the old `Texture` can be removed, if it's replaced by the new one.

I am not sure what the best-practice is here; possibilities:
* `texture.Delete()` to be called whenever you're replacing the rendered text.
* Create some kind of wrapper, cal

[2015-12-25 15:47] EtienneBruines opened #136 "RenderComponent.Label"
The `RenderComponent` has a `string` variable called `Label`. It is currently not in use, but it can be set.

Do we want to use it? Or is it only there for the user?

[2015-12-25 20:39] paked commented on #136
@EtienneBruines In the past, that was used for linking `Resource`s and `RenderComponent`s, without having to initialise a resource. It seems legacy now, but maybe this feature is something we should look into?

[2015-12-25 20:40] paked commented on #135
`Text` is already a wrapper for `Font`. I don't think we need another one. If this behaviour should happen at the `Font` level, do so.

[2015-12-25 20:49] EtienneBruines commented on #135
We don't have something of type `Text`?

[2015-12-25 20:56] paked commented on #135
@EtienneBruines Looks like I implemented it, and then removed it at some point?

It definitely looks like something that should be implemented, as https://github.com/paked/engi/blob/master/demos/pong/pong.go#L266-L276. Does not look that great at all.

Ignore that previous message, implement it at the `Font` level... I'll create a wrapper once this Pull Request is through (I actually have time now

[2015-12-26 14:57] EtienneBruines opened #137 "Resize Font"
Some aspects of the game, may be resized whenever the game window is resized.

Text / Font is usually *not* one of those things that should be resized. At least not on just one axis, but with the aspect ratio in place.

Perhaps other things should also be resized with aspect ratio preserved?

[2015-12-27 23:18] EtienneBruines commented on #59
Current status:

#TODO
* [ ] Rightclick.

[2015-12-28 14:48] EtienneBruines commented on #95
According to the stuff I've read on Stackoverflow and forums of other engines, the solution they talk about, is to have the user/programmer implement some kind of `ParetnComponent`, or `HealthBarEntityComponent`, which holds a reference (pointer) to the linked `Entity`. This means that the `HealthBar` `Entity` doesn't have to be part of the `System` which manages the Health - but when the health-b

[2015-12-28 14:48] #95 closed

[2015-12-28 14:50] EtienneBruines commented on #104
As groups is something the user should probably implement himself, we could allow this:

[code]

Where the `Duplicate` function indeed duplicates the `Entity`s and all `Component`s? Is that something you'd like to see, @paked?

[2016-01-03 06:33] varomix opened #140 "package issues on windows"
Hey guys
I'm trying to test the engine
I'm getting this issue when getting the source

[code]

I'm new to Go so not sure what the issue is, I'm using windows 10 64bit

thanks

[2016-01-03 16:44] EtienneBruines commented on #140
Hey varomix. The issue means that we (those that are programming on `engi`), made a mistake with the Windows audio support. Roughly, the error message means that the audio library we're using (golang.org/x/mobile/exp/audio/al) hasn't got code that will compile on Windows.

We tried fixing that, but apparently we failed. Let me give it another shot.

[2016-01-04 14:35] EtienneBruines opened #142 "SetBg still uses uint32 color"
The `SetBg` function still uses the `uint32` type for its color argument. Should be changed to `color.Color`.

[2016-01-04 14:36] EtienneBruines commented on #140
Apparently #141 did not fix the issue. Will have to try and see if I get it running on my Windows pc.

[2016-01-04 15:14] EtienneBruines commented on #130
Olivier Gagnon has confirmed that the GPU clears all GPU-RAM on termination. So we shouldn't need to worry about this.

[2016-01-04 15:14] #130 closed

[2016-01-04 15:18] EtienneBruines commented on #71
Giving it a shot now.

[2016-01-04 19:38] paked commented on #71
:+1;

On Tue, 5 Jan 2016 2:18 am Etienne Bruines <notifications@github.com> wrote:

[2016-01-04 19:59] #21 closed

[2016-01-04 19:59] #120 closed

[2016-01-07 16:16] cryptrol commented on #140
Your put a conditional compilation tag to avoid compiling in Windows, but in order for it to work you should put a new line between the tag and the package line. Like this :

[code]

[2016-01-07 16:18] EtienneBruines commented on #140
I seriously forgot that? Shame on me.

Thank you @cryptrol for noticing that.

[2016-01-07 16:28] cryptrol commented on #140
I just lost some hours once because of this. Conditional compilation is always a pain :laughing:

`go vet` helps finding it.

[2016-01-07 17:50] varomix commented on #140
@EtienneBruines I just made the change locally in the audio.go file and I STILL get the same issue :)
btw I'm using Atom editor with the Go-Plus package and it reports all that formatting stuff every time you save is really cool, I opened the audio.go file in atom and told me about the black line :)

so, it's still not working, is there any other files that need to be modified?
I got it to work on

[2016-01-07 19:36] varomix commented on #140
I added the compile flag to audio.go and audio_player.go  and the error was gone but there's more issues

[code]

[2016-01-26 07:19] pyros2097 commented on #71
Yeah +1. I was wondering would this run as good as phaserjs? I was looking into using phaserjs but then not much of a javascript fan and prefer go instead so I thought of writing a wrapper for phaserjs for gopherjs.

[2016-01-26 07:21] paked commented on #71
@pyros2097 you definitely could. However, in the past we have just used raw WebGL to make the backend work.

[2016-02-22 21:55] faide opened #144 "HUD example compiles but crashes"
This crashes as soon as I launch the example with the following traceback:

[code]

if I suppress the call to ```w.AddEntity(hudBg)``` it works so I suspect something in ```generateHUDBackground``` but I can't see what really differs from ```generateBackground``` which works fine.

[2016-02-22 23:33] paked commented on #144
What version of Go are you using?

[2016-02-23 01:58] faide commented on #144
ATM go 1.5.3

[2016-02-23 02:02] faide commented on #144
If I try with go 1.6 I get
[code]

[2016-02-23 02:03] paked commented on #144
Yeah, 1.6 broke [go-gl](https://github.com/go-gl/gl) (a library that we heavily depend on). Hopefully they will have a fix out soon.

In the meantime, I'll try and debug this and get back to you when I have something new!

[2016-02-23 02:07] paked commented on #144
Alright. So it looks like e8d15d8b2af5087e65eaa47ed7a645994477254b broke the HUD. @EtienneBruines Do you have time to take point on fixing this (I haven't touched the shaders in forever.)?

[2016-02-23 15:22] EtienneBruines commented on #144
@faide Thank you for reporting this issue. I will have time for this tonight (in about 6 hrs). Should be a relatively easy fix, though.

W.r.t. the Go 1.6, there has been made some progress (not by me) [here](https://github.com/go-gl/gl/issues/31#issuecomment-186541351).

[2016-02-24 10:18] EtienneBruines commented on #144
OK, this is weird. Using the code from `master`, and `go1.5.2`, I'm seeing no runtime error whatsoever. (using `go run hud.go`)

May I ask how you're attempting to run it, @faide?

Are you able to replicate this bug, @paked?

@faide I see the callback goes all the way back to `shaders.go:289`, which is a specific shader defined for the HUD. This would explain why there's a difference between the H

[2016-02-24 10:19] paked commented on #144
@EtienneBruines I was able to replicate this on OS X Yosemite, `go1.5.3`.

I'll try on Arch Linux now.

[2016-02-24 10:20] EtienneBruines commented on #144
Then it must be a glitch on my part, causing it to "not crash". Investigating...

[2016-02-24 10:40] faide commented on #144
I am on Ubuntu

[code]

here is a transcript of what I do once inside engi source code

[code]

I tried also with go 1.5.2 and got the same result. If you need any more system info (libs, kernel, whatever...) just ask

I verified:
github.com/paked/webgl (up to date)
github.com/go-gl/gl (up to date)

[2016-02-24 10:41] EtienneBruines commented on #144
Thank you @faide.

Could you run `glxheads` in the terminal? This outputs some variables.

[2016-02-24 10:56] EtienneBruines commented on #144
@faide Could you try this branch? https://github.com/EtienneBruines/engi/tree/hotfix_144

Probably something like:
[code]

[2016-02-24 11:17] faide commented on #144
First part of the answer

[code]

[2016-02-24 11:22] faide commented on #144
I updated to your hotfix
and still crashes (github.com/paked/engi/shaders.go:255 being the last engi code called)

[code]

[2016-02-24 11:37] EtienneBruines commented on #144
I'm attempting to see if the `HUDShader` is to blame or not. Could you try again? (new commit in that branch)

(note that the goal of this test is not to see if it *works*, but to see whether or not it will *crash*)

[2016-02-24 12:11] paked commented on #144
@EtienneBruines That does not crash for me now.

[2016-02-24 12:12] EtienneBruines commented on #144
OK, good to know. Then it's definitely the `HUDShader`.

[2016-02-24 12:18] EtienneBruines commented on #144
Does the new commit fix the issue? (it works as intended on my pc, and if it doesn't crash, then we're all happy :-).

[2016-02-24 12:20] paked commented on #144
@EtienneBruines Works for me!

[2016-02-24 12:26] #144 closed

[2016-02-24 12:27] EtienneBruines commented on #144
@faide Thank you for reporting this issue.

If it turns out that #145 didn't fix your issue, feel free to reopen. Happy to help.

[2016-02-24 12:43] faide commented on #144
I confirm it does not crash anymore

[2016-03-01 20:24] paked commented on #59
@faide If you want to take a crack at this, I'd be happy to review the pull request!

[2016-03-01 23:25] faide commented on #59
@paked I did first run here: #146

[2016-03-03 09:26] EtienneBruines opened #147 "AudioSystem volume"
It would be nice to have categories of audio fragments, and to be able to set the volume (loudness) for each of those categories, i.e. a category for ambiance, effects, voice, etc. These categories should be user-defined.

We could also offer a master-volume.

[2016-03-08 02:50] paked opened #149 "What needs to happen in order to achieve support for Go 1.6?"
*note: currently don't have access to a computer which I can develop on, so I 0 idea if `engi` works or not already*

I've received paked/webgl#3 which should fix any go-gl issues. Does everything else work out of the box? I am specifically worried about our sound libraries.

cc: @faide @EtienneBruines

[2016-03-08 02:51] paked commented on #147
:+1:

I might start hacking on this once I have a proper setup again :angry:

[2016-03-08 10:09] EtienneBruines commented on #149
Everything works as it should, with the fix from https://github.com/paked/webgl/pull/3, audio as well.

[2016-03-08 10:09] #149 closed

[2016-03-08 10:31] EtienneBruines opened #151 "PriorityLevel is limiting"
Currenty, we have a few PriorityLevel values:

[code]

As a reminder: the usage of these is as follows: the higher the `PriorityLevel`, the later it will be rendered (so it'll be on on top). This is done by having 51 lists of `Entity`-references, and looping over each of them (see https://github.com/paked/engi/blob/master/render.go#L255-L288 ). One for each value between `Background` and `HighestG

[2016-03-08 11:41] faide commented on #151
Why not change this and add a z position (layer) in the space component? And use the layer from space component ?
Look at this implementation: https://github.com/los-cocos/cocos/blob/master/cocos/cocosnode.py#L651

[2016-03-08 11:56] EtienneBruines commented on #151
I like the idea of having a z-position (because everyone knows what it is). Wouldn't we have to do the same kind of sorting/grouping operation when we call it a z-position? The main difference between the `PriorityLevel` and a z-position, is that the `PriorityLevel` is bound to a certain `Shader` (for optimization); i.e.: everything on `PriorityLevel` 15 has the same `Shader`. Switching `Shader`s

[2016-03-08 13:19] EtienneBruines opened #154 "GC"
As everyone knows, Garbage Collection is a bitch.

As most implementations will want to do some kind of VSync / Framerate limitation, it would make sense to do some GC while waiting anyway. In other words: when you're done computing what you want to do that frame, it'll usually wait a while before starting another frame. During this time, we can explicitly call the [GC](https://golang.org/pkg/runt

[2016-03-09 08:51] faide commented on #151
I like the idea of giving control of the shader to the game developer explicitly. At the cost of some added complexity.
I was wondering were the the game developer could plug its shaders.

 Maybe this would be the answer :)

[2016-03-09 11:46] EtienneBruines commented on #151
Well, you can already plug in your Shaders at the moment, but I guess this is a nicer way of doing it.

[2016-03-10 21:06] faide commented on #154
Agreed, but 1.5 and even more 1.6 have drastically improved the GC pauses issue in Go and I propose we wait until we reach a real case scenario in which GC pauses become an issue before try to fiddle ourselves with GC calls.

[2016-03-16 13:01] lovoror commented on #63
Great!

[2016-03-18 14:15] paked opened #156 "Rename"
The current name for this project "engi", is left over from when I forked `ajhager/engi`, way back. I think it would be better for both projects if we renamed. This would create less confusion and allow us to be seen as our own entity, as opposed to "just a fork".

It also doesn't make much sense to keep the branding because our API is *entirely* different. I actually think it would be an interest

[2016-03-18 15:56] faide commented on #156
I am in favor of a name change. I wanted to propose this to you at a later point. Glad you brought the subject yourself.

I think it would also be beneficial to the project to have its own github account instead of being under your user name. Even though I could understand if you would like to keep it that way.

[2016-03-18 16:38] EtienneBruines commented on #156
@faide I believe an "organization" (https://github.com/organizations/new) is the way to go here (instead of another GitHub account. It allows you to add team members etc., and probably some role management (not sure about that last one).

I'm all for the name change. I'm not very creative myself, but I think any name is fine as long as it isn't too long (people will be typing it a lot).

[2016-03-23 22:58] paked commented on #156
On the Gophers Slack, I jokingly came up with the name Dodo for our engine, as it has almost been extinct before :')

I'm not quite sure I want to keep it, but hey... It's a start!

[2016-03-24 08:36] #142 closed

[2016-03-24 09:32] EtienneBruines commented on #156
Since dodo is taken, I thought why not godo. Well, that already existed, so that didn't work out.

According to [wikipedia](https://en.wikipedia.org/wiki/Dodo#Etymology), `dodar` is an English word for `dodo` which was used until the 18th century. So that's also a possibility.

[2016-03-25 02:04] otraore opened #159 "Paddles can go out of the screen"
There's no check to ensure paddles don't go out of the screen.

[2016-03-25 02:56] #159 closed

[2016-03-25 12:28] otraore opened #161 "Tiled example?"
It'd be nice to have some form of example for loading in and drawing tile-maps. From what I've seen it looks like the functionality is there but the functions and some structs aren't exported. I'd like to contribute a platformer example using tiled and this would greatly help me. Thanks in advance.

[2016-03-25 22:01] paked commented on #161
@otraore There *used* to be a tilemap example. Unfortunately it appears to be broken, I'll try and fix it up for you.

[2016-03-25 22:02] otraore commented on #161
@paked That'd be great, Thank you!

[2016-03-25 22:29] paked opened #162 "Fix Tilemaps"
We used to have reasonably good support for Tilemaps. I'd like to bring our current implementation back up to this point.

[2016-03-25 22:29] paked commented on #161
Status update: It looks like our tilemap implementation is completely broken. We're going to need to rewrite it.

I've created #162

[2016-03-25 22:38] otraore commented on #162
If you need help with this, I'm willing to help out @paked.

[2016-03-25 23:55] paked commented on #162
I have a few ideas on how we could implement this. For me, it is important we split the tilemap system into two "sections"

- Tilemap
- Loader

The Tilemap would be the actual renderable component of this, containing the information on how to render the specific tilemaps.

The Loader would be an interface which would create Tilemaps, as implied by the name it would load different types of Tilemaps

[2016-03-25 23:55] paked commented on #162
@otraore Would you be interested in taking lead on the implementation?

[2016-03-26 00:56] otraore commented on #162
@paked Sure, I'll give it a try.

[2016-03-26 02:34] 5k3105 commented on #140
Still doesn't work on windows. Same error as at the start of this thread.

[2016-03-26 19:23] otraore opened #163 "Gitter for communication"
I think it'd be nice if we had a chat room for this project, I'm recommending gitter (https://gitter.im) it'd be perfect.

[2016-03-26 19:43] otraore opened #164 "API Elegance and usability"
I'm requesting we use this issue to discuss API changes and suggestions. To start it off I'm recommended we change the

[code]
to
[code]
I feel as if this is more clear and makes more sense.

[2016-03-26 22:50] #119 closed

[2016-03-26 22:54] paked commented on #163
I agree. This would be great.

This sounds like the kind of thing we should do once we have done #156.

[2016-03-26 23:06] EtienneBruines commented on #140
You're completely right. I haven't given this issue the attention it deserved.

Creating a virtual Windows environment atm (so test in Windows, but develop in Linux)

[2016-03-26 23:14] EtienneBruines commented on #164
As @paked and I have given this a thumbs up, this looks like something we can do.

[2016-03-26 23:30] EtienneBruines opened #167 "SVG / OpenVG support"
Right now, we have textures in the form of images (JPG/PNG/GIF?), and these can be in various resolutions based on the target-system (you could have different images for a 4K-display, than for a 240p display). While you can have different images for those different sizes (i.e. _240p.jpg, _360p.jpg, _1080p.jpg, etc.), or you can just load the highest available (always load the 4K-file, and downscal

[2016-03-26 23:34] #164 closed

[2016-03-26 23:34] paked commented on #164
I'm thinking for further changes we should open new issues, instead of keeping it under one roof. Is this ok @otraore?

[2016-03-26 23:35] otraore commented on #164
Yes no problem @paked, Originally planned to use this to discuss changes but that shouldn't be a problem once we have gitter set up.

[2016-03-28 00:50] paked commented on #151
I'd like to not increase the amount of complexity in the engine. If we could find some way to have a fake `z` axis, and then a default shader that would be best.

[2016-03-29 03:51] EtienneBruines commented on #140
I managed to compile and run it on my virtual Windows using #168.

However, my setup doesn't support OpenGL within virtualbox.

Could anyone verify it actually runs like it should?

[2016-03-29 12:22] paked commented on #140
Keeping this open, as we do not know whether it *actually* works

[2016-03-29 23:27] 5k3105 commented on #140
[code]
I'm using TDM 64 bit. Should this be something else?

[2016-03-30 00:31] paked commented on #156
Why is coming up with names so difficult.

Any objections if we just use dodar?

[2016-03-30 02:07] otraore commented on #156
@paled yes

[2016-03-30 04:18] otraore commented on #156
My suggestions:

leap
ego
engo
nyx
game (the org would need a name but the package would just be game like jordanwright/email)

[2016-03-30 05:12] paked commented on #156
I like the idea of `engo` or `nyx`.

[2016-03-30 07:09] EtienneBruines commented on #140
I was using [win-builds](http://win-builds.org/doku.php) and downloaded everything available, which included the GCC-compiler and a lot of other stuff (92 packages in total).

Not sure if that solves your problem? (not that used to the windows-way of compiling/linking stuff)

[2016-03-30 18:15] 5k3105 commented on #140
Awesome! Everything seems to work now (except audio). I tested all the demos. Path set to C:\Program Files\WinBuilds

Thanks Etienne!

[2016-03-31 01:22] otraore commented on #156
Anyone mind if we did engo? I think nyx sounds more like a game than an actual game engine.

[2016-03-31 05:41] faide commented on #156
I like engo
Le 31 mars 2016 3:22 AM, "Ousmane Traore" <notifications@github.com> a
écrit :

[2016-03-31 05:53] paked commented on #156
OK. So lets go with `engo`.

Unfortunately it seems that name is already taken on GitHub. I guess we could append "engine" or "games" to it?

Something like:

- `github.com/EngoEngine/engo`
- `github.com/EngoGames/engo`

OR we could add another consonant to the mix... `Engyo` Anyone (and is available on GitHub)?

[2016-03-31 12:38] EtienneBruines commented on #156
I like the idea of `engo` (mixture between `engine` and `go`, and it even has `go` in it :smile: ).

The name `EngoGames` gives the idea that we're producing "games", so I'd prefer `EngoEngine` over that.

[2016-03-31 22:49] paked commented on #156
**IT IS DONE**

I've renamed the repository from `engi` to `engo`, and moved it to a brand new `EngoEngine` GitHub organisation.

[2016-03-31 22:50] paked opened #169 "Fancy Logo"
I think we should get a logo for the new organisation. Any ideas?

[2016-03-31 22:55] paked commented on #156
I'm assigning myself so I can make a PR to finish this off.

[2016-03-31 23:03] paked commented on #163
We have a gitter now everyone!

Thanks #170

[2016-04-01 13:20] EtienneBruines commented on #151
To summarize some ideas:
* `PriorityLevel` is to be removed
* `SpaceComponent` gets an additional Z-index (not a z-axis) - or should this be within `RenderComponent`?
* `Shader`s can now be plugged in per-`Entity`, by calling `SetShader` on the `RenderComponent` of that `Entity`.

We'd be having a lot of `SetShader` / `SetXXX` functions on the `RenderComponent`. I think we'd create an issue after

[2016-04-01 13:22] EtienneBruines commented on #156
@paked could you remove the `A fork of ajhager/engi` from the description of this repo? (I cannot change it myself; no permission)

[2016-04-01 13:27] EtienneBruines opened #174 "AudioSystem on Windows"
Currently, the `AudioSystem` is only available on Linux/Android/OSX.
This should be addressed.

[2016-04-01 13:28] EtienneBruines opened #175 "Document Windows-dependencies"
I've managed to get it running by using [win-builds](http://win-builds.org/doku.php) and downloading every package, but @5k3105 was unable to do so with TDM.

We should document that it works with the win-builds package (which include a lot, so I don't know which was the "magic fix").

[2016-04-01 13:29] EtienneBruines commented on #140
Created #174 and #175 to continue on those separate issues.

Closing this issue as the compilation-part (and thus the package issues) has been fixed.

[2016-04-01 13:29] #140 closed

[2016-04-01 13:30] #163 closed

[2016-04-01 13:31] EtienneBruines commented on #14
This is being continued on #161 and #162.

Closing this issue as it does not contribute anything further.

[2016-04-01 13:31] #14 closed

[2016-04-01 13:37] EtienneBruines opened #176 "SetBg to SetBackground"
`SetBg` is short, but we might want to consider naming it `SetBackground` or `SetBackgroundColor`?

Thoughts everyone?

[2016-04-01 14:11] paked commented on #176
Yes. SetBackground please.

On Sat, 2 Apr 2016 12:37 am Etienne Bruines <notifications@github.com>
wrote:

[2016-04-01 14:12] paked commented on #174
We should also look at OSX deps

On Sat, 2 Apr 2016 12:27 am Etienne Bruines <notifications@github.com>
wrote:

[2016-04-01 14:12] paked commented on #156
Will do

On Sat, 2 Apr 2016 12:22 am Etienne Bruines <notifications@github.com>
wrote:

[2016-04-01 14:15] EtienneBruines commented on #174
We should; but that's more something for #175. Audio was working fine (at least that's what I've heard; I don't have any Apple devices).

[2016-04-01 14:46] #176 closed

[2016-04-01 22:43] paked commented on #151
- Removing `PriorityLevel` works for me
- I'd prefer it to be on the `RenderComponent`.
- As long as we have a set of default shaders that can be used out of the box, I am fine with this.

[2016-04-01 22:44] paked commented on #156
Aaannnd done!

[2016-04-01 22:44] #156 closed

[2016-04-02 01:37] paked commented on #169
From @otraore [on the gitter](https://gitter.im/EngoEngine/engo):
[code]

[2016-04-02 02:04] #104 closed

[2016-04-02 02:07] EtienneBruines commented on #104
Closed this. Discussion/development should continue at https://github.com/EngoEngine/ecs/issues/5

[2016-04-02 02:37] EtienneBruines opened #178 "LICENSE / NOTICE file"
After doing some reading, we've come up with the following information:

We should include a `NOTICE.md` file in our repository, which lists all `LICENSE`s `engo` depends on. This includes Go itself (BSD license), probably `ajhager/engi`, and possibly all other packages we depend on.

Those that use `engo` to compile something, should include that NOTICE file with that binary (those annoying READM

[2016-04-02 02:41] otraore commented on #178
I recommend you just add a "Credits" or "Copyright" section to you game (Those long sections that people barely read).

[2016-04-06 19:00] EtienneBruines commented on #151
I've managed to implement this quite nicely:

* Entities are now in a single list (instead of mapped per `PriorityLevel`), and sorted on `zIndex` and `Shader`. This preserves the ordering of the z-index, but also allows for optimizations in the sense that as few shader-switches occur as possible.

PR coming up soon.

[2016-04-06 19:39] EtienneBruines opened #180 "View Culling"
It'd be nice if OpenGL only drew what was seen by the Camera.

[2016-04-07 22:51] #151 closed

[2016-04-08 22:28] ryanisaacg opened #182 "Error upon trying to import engo"
I am running Linux Mint 17.2, if it helps.

I installed the dependencies with the command `sudo apt-get install libopenal-dev libglu1-mesa-dev freeglut3-dev mesa-common-dev xorg-dev libgl1-mesa-dev`

Then I used the command `go get -u github.com/engoengine/engo` to get the library.

I made a new file `~/test.go` to try the Getting Started example, and I pasted the contents into the file.

When I r

[2016-04-08 22:32] paked commented on #182
@ryanisaacg Sorry, what contents did you put into the `test.go` file?

The easiest way to fix this is to run `go get -u github.com/EngoEngine/ecs`.

[2016-04-08 22:32] paked commented on #182
Let me know if this works, and I'll close the issue!

[2016-04-08 22:36] ryanisaacg commented on #182
I now get the error `package main: case-insensitive import collision: "github.com/EngoEngine/ecs" and "github.com/engoengine/ecs"`

The file contents is the example at https://github.com/engoengine/engo/tree/master/demos

[2016-04-08 22:43] paked commented on #182
@ryanisaacg Have you deleted `github.com/EngoEngine/ecs` from your path?

[2016-04-08 22:44] ryanisaacg commented on #182
No, I have not.

[2016-04-08 22:46] paked commented on #182
I'd do that, then everything should be fine.

[2016-04-08 22:46] ryanisaacg commented on #182
By path, do you mean `$PATH`?

[2016-04-08 22:48] paked commented on #182
Sorry, I meant removing it from your `$GOPATH`. So if `$GOPATH/src/github.com/EngoEngine/ecs` exists, you should delete it.

[2016-04-08 23:47] EtienneBruines commented on #182
The quick-and-dirty fix at the moment is to make sure `$GOPATH/src/github.com/engoengine/` exists, and then create the subfolders `ecs`, `engo` and `webgl` by using `git clone` for each of them.

We're working towards fixing the problem in general, but that might take us a few days to figure out. Thank you for your patience. If you need any help getting the quick-and-dirty fix to work, don't hesit

[2016-04-08 23:57] paked commented on #169
Update on this. We had an artist do a water marked draft version: ![http://i.imgur.com/QLPN4He.png](http://i.imgur.com/QLPN4He.png)

[2016-04-09 00:08] EtienneBruines commented on #169
TODO: what would this look like 64x64 pixels? And 128x128? (something smal)

[2016-04-09 00:09] ryanisaacg commented on #182
I tried at @EtienneBruines 's suggestion but now I'm getting a new error (output below).

     # command-line-arguments
    ./test.go:12: undefined: engo.SetBg
    ./test.go:12: undefined: color in color.White
    ./test.go:34: cannot use Game literal (type *Game) as type engo.Scene in argument to engo.Run:
        	*Game does not implement engo.Scene (missing Hide method)

[2016-04-09 00:15] paked commented on #182
@ryanisaacg My apologies. It looks like that example is out of date. Would you mind using the code in https://github.com/EngoEngine/engo/blob/master/demos/entity/entity.go, instead?

[2016-04-09 00:15] EtienneBruines commented on #182
* `engo.SetBg` has been renamed to `engo.SetBackground`
* `color` has to be imported from `image/color` (standard Go library)
* Guess your `Game` doesn't implement the `engo.Scene` interface as defined here:

[code]

[2016-04-09 00:16] paked commented on #182
@EtienneBruines He is using the getting started example, which has gone out of date. We need to update it.

[2016-04-09 00:17] EtienneBruines commented on #182
@paked I was wondering where he got the code. My apologies @ryanisaacg - I'll fix this right now at the wiki.

[2016-04-09 00:18] EtienneBruines commented on #182
The updated version might work a bit better.

[2016-04-09 00:21] ryanisaacg commented on #182
The new code works much better, thanks everybody!

[2016-04-09 00:21] #182 closed

[2016-04-09 01:07] paked commented on #182
@ryanisaacg Thanks for using `engo`. If you are having any problems, please don't hesitate to reach out on [gitter](https://gitter.im/EngoEngine/engo) or [file an issue](https://github.com/EngoEngine/issues/new).

![https://media.giphy.com/media/dc7LsyKabZ6Ra/giphy.gif](https://media.giphy.com/media/dc7LsyKabZ6Ra/giphy.gif)

[2016-04-09 01:15] EtienneBruines commented on #169
The file is a bit huge, but we could also go for something a bit more ... simplistic.

![gopher-controller](https://cloud.githubusercontent.com/assets/3962174/14400924/2ffd70e4-fe01-11e5-9f15-0b3d45d6c338.png)

Note that I'm not saying one is better than the other - just saying there's a choice.

[2016-04-09 01:16] paked commented on #169
Why don't we compare what they look at scaled sizes?

I have a feeling your one will work better.

[2016-04-09 01:27] EtienneBruines commented on #169
@paked https://www.huperwebs.nl/comparison.html

[2016-04-09 01:44] otraore commented on #169
In terms of looks I think the [one made by the designer](https://camo.githubusercontent.com/81386d2e3cf6ba8812c90e9c959fc37737a6f506/687474703a2f2f692e696d6775722e636f6d2f514c504e3448652e706e67) looks better. The other one looks a bit weird 😜  . It looks as if you're giving the gopher something inappropriate (maybe just me).

[2016-04-09 01:46] EtienneBruines commented on #169
Not yet seeing the weird part :P But it looks more like a controller on his shirt, than the controller he's holding in his hand on the one made by the designer.

[2016-04-09 01:48] otraore commented on #169
@EtienneBruines well if you give him a shirt that could work.

[2016-04-09 01:48] EtienneBruines commented on #169
A tattoo, in that case? Didn't notice he wasn't wearing anything.

[2016-04-09 13:57] otraore opened #184 "Update import paths in demos and README"

[2016-04-09 23:08] #184 closed

[2016-04-09 23:36] EtienneBruines opened #186 "Engo has to use engo.io/ecs and engo.io/webgl"
We have to use it internally; it won't build atm.

[2016-04-09 23:43] paked commented on #169
@EtienneBruines @otraore I think we should go with the designers one, but we should see if we can fit any colours onto the control. That might make it even easier to see at a small resolution.

[2016-04-09 23:47] #186 closed

[2016-04-10 00:53] otraore commented on #169
@paked Sure make sure to tell the designer and I'm sure he'll make the adjustments.

[2016-04-10 17:34] EtienneBruines opened #188 "Give credit to hydroflame/luxengine"
We're using the `math` library for `float32` at https://github.com/luxengine/math.

Even though the MIT license doesn't force us to do anything, I think it'd be nice / fair to mention libraries like this in our "Credits" section.

Are you OK with this, @paked?

[2016-04-11 01:01] EtienneBruines opened #191 "CameraSystem - non-instant movements"
Do we want to animate camera movement? Now we can say "MoveTo", and it instantly moves the camera to that position. Would it be neat to be able to say `MoveToIn(some_location, some_duration)`? i.e. to be able to add a duration?

Or would we just let the user implement this by updating the camera location each frame?

[2016-04-11 02:03] paked commented on #191
Yes. From memory, the original camera had this build in. Pretty easy lerp
based stuff.

On Mon, Apr 11, 2016 at 11:01 AM Etienne Bruines <notifications@github.com>
wrote:

[2016-04-11 14:47] EtienneBruines opened #193 "Travis-ci"
https://github.com/travis-ci/travis-ci/issues/3524

Apparently, there's a way to test headless OpenGL. Which would be awesome in our case, because we'd be able to test if it even compiles.

Not a clue as to how it works, but apparently it's possible. Up for grabs.

[2016-04-11 20:10] otraore commented on #178
https://github.com/EngoEngine/engo/issues/188https://github.com/EngoEngine/engo/issues/188 will also benefit from this

[2016-04-14 00:40] HeadClot opened #196 "Level Streaming"
So this is a feature request that I personally would like to see in the Engo - Level Streaming.
In short it should dynamically load and Unload Levels (From Tiled Map Editor) as needed by the system. The Below Diagram should explain things better.

![](http://i.stack.imgur.com/e5Wyh.png)

![](http://i.stack.imgur.com/lKVin.png)

I have also attached a stack overflow article. See below.

http://game

[2016-04-14 00:45] paked commented on #196
Related to #162

[2016-04-14 09:00] HeadClot commented on #180
This would be great a great performance saving feature for #196

[2016-04-14 10:56] F483 opened #198 "Mint Linux/Ubuntu setup error"
I'm new to go (learning by making a game with engo) so it may be a misunderstanding on my part.

[code]

[2016-04-14 10:58] otraore commented on #198
@F483 What go version are you running? I know that apt-get uses an older version of go so that might be the issue.

[2016-04-14 11:10] F483 commented on #198
[code]

[2016-04-14 11:21] otraore commented on #198
That's why @F483 Follow these instructions: https://www.digitalocean.com/community/tutorials/how-to-install-go-1-6-on-ubuntu-14-04

I'll put them here just in case:
But first make sure you uninstall go1.2.1 by running
[code]

[2016-04-14 11:39] F483 commented on #198
Thanks that seemed to work.

[2016-04-14 11:41] otraore commented on #198
Alright glad that you've got that fixed! @F483

[2016-04-14 12:00] F483 commented on #198
I now get the following though when I try to run the [Getting Started](https://github.com/EngoEngine/engo/wiki/Getting-Started) example.

[code]

[2016-04-14 12:03] otraore commented on #198
@F483 Easy fix, the getting started needs to be fixed: change your imports to engo.io/engo and engo.io/ecs respectively. I'd recommend you look at the site for tutoraisl (engo.io)

[2016-04-14 12:10] F483 commented on #198
I replaced it with [this](https://engo.io/tutorials/01-hello-world) and get the following error.

[code]

[2016-04-14 12:12] otraore commented on #198
@F483 Just add:
[code]

Sorry about this, this is a recent change and not every example has been updated.

[2016-04-14 12:18] F483 commented on #198
No problem, glad to help find the documentation errors.

Now it works but I cant close the window (via button or ctrl-c). It keeps printing the following output:

`2016/04/14 14:17:31 Warning: default close action set to false, please make sure you manually handle this`

I had to kill the process :/

[2016-04-14 12:19] otraore commented on #198
@F483 May I see your source code?

[2016-04-14 12:20] F483 commented on #198
[code]

[2016-04-14 12:24] otraore commented on #198
@F483 I know the issue, I'm on it right now.

[2016-04-14 12:26] otraore commented on #198
@F483 In the meantime add this to your Exit() function:
[code]

I am in process of sending in a pull request to fix that issue.

[2016-04-14 13:01] F483 commented on #198
Thanks!

[2016-04-14 13:01] #198 closed

[2016-04-14 13:19] otraore commented on #198
@F483 Would you mind joining the gitter chat, I'd like to talk to you beyond this PR. (https://gitter.im/EngoEngine/engo)

[2016-04-14 17:09] yra99ary commented on #169
![w](https://cloud.githubusercontent.com/assets/8791195/14536750/94293680-02a6-11e6-8f25-8202477a65a0.png)
Hi guys,do you like this flat style?

[2016-04-14 19:02] HeadClot commented on #169
@yra99ary - I like the flat style but there seems to be visible seems in the center of the gopher.

[2016-04-14 23:02] otraore commented on #198
Update: with https://github.com/EngoEngine/engo/pull/199 you don't need to manually exit the engine anymore unless you set the default close action to false. so @F483 run the following to update to the latest version:
[code]

[2016-04-16 12:42] EtienneBruines opened #200 "Document breaking changes in `README.md`"
Lately we've been doing some breaking changes, and we possibly will do more in the future.

Let's create a section `Breaking Changes` in the `README.md` file, so people know what's changed (and an easy migration-guide for each of those, like "`engo.SetBg` has become `engo.SetBackground`").

Thoughts @paked?

[2016-04-16 15:21] EtienneBruines commented on #71
At a stage where I got most of the stuff to work at the browser. Currently wrestling with the shaders (versions, webgl, that kinda stuff).

Audio is disabled in the browser (same reason as Windows), will be fixable though.

`AddFromDir` is also not available, because we need to use direct URLs, and that's kinda hard to do with AddFromDir.

[2016-04-16 17:09] EtienneBruines commented on #71
Everything I have right now is at the `gopherjs` branch.

Current state:
* Compiles
* `AddFromDir` not supported
* `AudioSystem` not supported
* `CameraSystem` not supported
* Does not visually do anything (so headless pong should work, but real pong will show a blank screen)

Probably something wrong with the shaders or something - I'm not sure what the problem is, and I haven't been able to pin-

[2016-04-16 18:09] pyros2097 commented on #71
I also did some refactoring to make the gopherjs backend work initially then dropped it. My plan was to remove using glfw directly  and use this https://github.com/goxjs/gl and this https://github.com/goxjs/glfw instead. I did most of of it and got the code compiling but got lost in shaders and some openGL calls not being present in webGL.

[2016-04-16 23:44] EtienneBruines commented on #125
Turns out it was my window manager on Linux that didn't do what it should.

And seeing as most games implement their own cursor, I'm closing this one.

[2016-04-16 23:44] #125 closed

[2016-04-16 23:46] EtienneBruines opened #201 "Tutorials at Github"
Do we want the tutorials (including issues for them, like #30 and #31) to stay?

Or do we want to expand our tutorials at https://engo.io and remove those others from Github (wiki) to avoid confusion?

Thoughts @paked ?

[2016-04-16 23:50] EtienneBruines commented on #127
I think this would be fixed if we checked beforehand if we loaded the resource before. Then we can `Preload()` as often as we'd like, without wasting resources.

[2016-04-16 23:51] EtienneBruines commented on #135
Looking back at this issue; I believe we need some kind of cleanup-function for `Texture`s, not render-things specifically.

[2016-04-16 23:52] EtienneBruines commented on #137
Is this something we should let the user/programmer handle? Because resizing with aspect ratio preserved isn't something we can do (we can resize it, but how would we move / align it?

[2016-04-16 23:53] paked commented on #71
@EtienneBruines I thought about how we could do `AddFromDir`: `go generate`. Basically we have a go generate script which is ran and builds an index of all the files in the "assets" directory (it would be configurable, obviously).

Then when `AddFromDir` is ran it loops through the file index as opposed to the actual "file system".

[2016-04-16 23:58] paked commented on #200
Lets do it!

[2016-04-17 00:01] EtienneBruines commented on #65
I intend to fix this on Sunday the 17th.

[2016-04-17 00:02] EtienneBruines commented on #131
We should wait until we have #155 merged, that way we can work with matrices in our shaders. We'll need them.

[2016-04-17 00:06] EtienneBruines commented on #136
I'd say we remove it. Thoughts?

[2016-04-17 00:07] EtienneBruines commented on #191
I think I can do this tomorrow (Sunday 17th).

[2016-04-17 00:12] EtienneBruines commented on #175
Currently documented at [engo.io/00-foreword](https://engo.io/tutorials/00-foreword#development-environment).

We may want to add it to our `README.md` as well.

[2016-04-17 00:17] paked commented on #147
I'm going to take this!

[2016-04-17 00:27] paked commented on #136
I'm doing this now.

[2016-04-17 00:28] paked commented on #137
I think this is something we should leave to the user.

[2016-04-17 00:29] paked commented on #201
@EtienneBruines Lets move all of our tutorials onto the website.

[2016-04-17 00:33] paked commented on #169
Everyone, thanks for your support with this (Especially those of you who mocked up their own designs!). We've decided to go forwards with this design:

![](http://i.imgur.com/hb25tl6.png)

If you have any violent objections, please create a new issue.

[2016-04-17 00:33] #169 closed

[2016-04-17 00:34] otraore commented on #169
🎉

[2016-04-17 00:51] otraore commented on #201
@paked I agree. Maybe link the site in the wiki?

[2016-04-17 00:52] paked commented on #201
Yep.

[2016-04-17 22:00] EtienneBruines opened #205 "ZIndex hidden"
When replacing `Priority` with Z-Indices, we removed the capability of "hiding" something entirely.

[2016-04-17 22:18] #205 closed

[2016-04-17 23:06] EtienneBruines commented on #193
Currently, all builds are being tested by travis.

[2016-04-17 23:06] #193 closed

[2016-04-18 00:16] #137 closed

[2016-04-18 00:19] EtienneBruines opened #211 "Texture cleanup"
As noted in the comments at #135, we currently have no way to dispose of a `Texture`. A texture is being created on the GPU-side, but if we stop using our `RenderComponent` / `Texture`, that doesn't remove it from the GPU-side (causing memory leak).

As Go doesn't have destructors, I believe we should just create some kind of cleanup function. Possible names:
* `Delete`
* `Remove`
* `Close` (yes,

[2016-04-18 00:30] EtienneBruines opened #212 "Naming of Width/Height WindowWidth/WindowHeight"
The naming is currently horrible.

We have two variants, both with width/height:
`WindowWidth` and `Width`.

Currently, `WindowWidth` is a 1:1 match with the width in pixels of your game window. The `Width()` (which is the private variable `gameWidth`), is a bit more unclear. It's a 1:1 match with the width of your game window, **iff** `ScaleOnResize` is set to false. In other words, the `gameWidt

[2016-04-18 00:33] EtienneBruines commented on #136
Fixed in c3ef5c834a4ce7377cc21f36dd6c917252b955ab / #206.

[2016-04-18 00:33] #136 closed

[2016-04-18 10:45] #201 closed

[2016-04-18 10:47] #175 closed

[2016-04-18 10:57] EtienneBruines opened #213 "License"
At the website, it says MIT licensed.
In the README, it says MIT licensed.
In our `LICENSE` file, it says something completely different.

[2016-04-18 12:17] EtienneBruines opened #217 "Resource without extension"
Currently, whenever someone uses our asset manager to add a `Resource` which does not have a valid extension, it might panic.

[code]

Specifically the `[1:]` part could panic if `len(kind)==0`.

We should probably warn if someone adds a resource without extension (because we won't be able to load them anyway), but panic is a bit harsh.

[2016-04-18 12:18] EtienneBruines opened #218 "WebGL is named "Web"GL"
As @otraore mentioned, our `engo.io/webgl` package, is called **web**gl. Even though it's not web-only.

Let's come up with a better name, because this package serves as a compatibility-layer between us and OpenGL/WebGL versions (web, desktop, possibly mobile).

[2016-04-18 13:38] paked commented on #218
`optimusGL` ;)

[2016-04-18 14:13] paked commented on #213
lol.

[2016-04-18 14:13] paked commented on #213
I think we need to get over our identity crisis and just accept the fact we are BSD 3-clause.

[2016-04-18 14:35] #147 closed

[2016-04-18 14:40] #217 closed

[2016-04-18 15:40] otraore commented on #213
@paked No! I don't feel the same way. MIT is the way to go.

[2016-04-19 02:10] paked commented on #211
Lets use Close.

On Mon, Apr 18, 2016 at 10:19 AM Etienne Bruines <notifications@github.com>
wrote:

[2016-04-19 02:12] #65 closed

[2016-04-19 02:13] paked commented on #212
I think GameWidth and WIndowWidth would be good. Where game is the amount
of pixels which Camera perceives, and WindowWidth is the amount of pixels
the OS would see.

On Mon, Apr 18, 2016 at 10:30 AM Etienne Bruines <notifications@github.com>
wrote:

[2016-04-19 02:19] paked commented on #213
Well, if we want to make the transition to MIT... We should. I'm just not
comfortable with us claiming to be MIT but being BSD.

On Tue, Apr 19, 2016 at 1:40 AM Ousmane Traore <notifications@github.com>
wrote:

[2016-04-19 02:28] otraore commented on #213
I'm not sure I understand what you mean by that @paked

[2016-04-19 04:43] paked commented on #213
I said that we should definitely start to make the transition to MIT, but until that is done we should not claim that we **are** MIT.

[2016-04-19 04:48] Newbrict commented on #188
Where do we use that?

[2016-04-19 04:55] paked commented on #188
@Newbrict We use it in [`assets.go`](https://github.com/EngoEngine/engo/blob/bbec375377fca7fe542262c97633fde225d60333/assets.go).

[2016-04-19 04:59] paked opened #221 "Joystick/Controller Support"
As a game engine I think it would be really cool for us to experiment with some other input mechanisms. One of the libraries I found which could do this for us is: https://github.com/simulatedsimian/joystick.

In terms of implementation, I imagine that we would add a "JoystickSystem" to the game, which would then fire messages when respective buttons were pressed.

[2016-04-19 05:03] paked opened #222 "Migrate completely to luxengine/math"
In relation to @newbrict's comment on #188.

We seem to have this idea of using this rewritten math package, however we have not actually fully migrated or committed to it yet. [A quick search](https://github.com/EngoEngine/engo/search?utf8=%E2%9C%93&q=%22math%22) shows that we are still using the stdlib's math package and converting to `float64` in a lot of places.

Let's fix this.

[2016-04-19 10:55] EtienneBruines opened #224 "Exit optional"
I've just been working on reworking `ecs`, and noticed that it's relatively easy to use interfaces to make certain functions optional.

[code]

This way, if they don't implement `Exit()`, it's OK (because no code is run). If they were to implement it, we would run it.

As you made the current implementation, what's your thought on this, @otraore ?

### Show and Hide

Same goes for `Show()` and `Hi

[2016-04-19 15:11] paked commented on #224
I'm not quite sure how idiomatic this is. Would you mind providing a more complete coding example?

[2016-04-19 15:21] EtienneBruines commented on #224
Well, there's only one place:
## where we call `scene.Hide()`
namely [here](https://github.com/EngoEngine/engo/blob/master/scene.go#L56);
I want to replace this one line, with these 3 lines:
[code]

## where we call `scene.Show()`
(there should be, but there isn't one);
This one line, that isn't there but should be, I would replace with these 3 lines:

[code]

## where we call `scene.Exit()`
namel

[2016-04-19 15:25] otraore commented on #224
I'm all for it, I did think at first it was weird having to leave empty functions you didn't use because you have to meet the interface. I'm all for it @EtienneBruines since it also seems to be idiomatic go being used in the standard lib.

[2016-04-19 15:29] paked commented on #224
If it is used in the stdlib, I'm OK with it. Lets just be careful not to overdo it.

[2016-04-19 20:37] EtienneBruines opened #227 "MouseSystem detect transparency"
It would be nice if the MouseSystem detected transparency, and had an option to let it "not fire" an event whenever you hover the transparent background.

Use-case: you have a red circle with transparent background. On hovering, you want the cursor to change. You want the cursor to change *only* whenever you hover the red part, not the transparent background.

[2016-04-19 20:46] EtienneBruines commented on #224
Will do after #225.

[2016-04-19 21:16] otraore commented on #227
I don't think this should be the game engine's responsibility rather than the user. If you have a circle regardless of what's inside of it, when the mouse hovers above it it should fire the mouse hover event. If you have a circle object there should be a way to define where it collides as well (edges).

[2016-04-19 21:18] EtienneBruines commented on #227
We should be able to handle circular objects in some way or the other. The `MouseSystem` has an "easy" fix in that you can detect the transparency-level of the current pixel within the texture you're hovering. Not sure how fail-proof that is with rotation in place. The `CollisionSystem` would indeed be even harder.

But when we offer a `MouseSystem` or `CollisionSystem` (which we do), we should at

[2016-04-19 21:21] otraore commented on #227
@EtienneBruines I understand but you are taking some extensibility from the user whereas they could handle it themselves. How about in the event somehow let them now if the collision was a transparent hover, I haven't looked into the messaging/event system that much so I'm not sure how yet.

[2016-04-19 21:23] EtienneBruines commented on #227
Well, the "event firing" is currently a matter of setting `entity.MouseComponent.Hover` to `true`.

We could optionally allow them to set `CheckForTransparency` or something when adding the `MouseSystem`, which would be more strict than the current implementation.

[2016-04-19 21:26] otraore commented on #227
Sure @EtienneBruines sounds good

[2016-04-19 21:28] EtienneBruines commented on #227
Hmm, everything breaks with rotation (#216), this is gonna need some more thought than I hoped...

[2016-04-19 21:32] EtienneBruines opened #228 "Revisit WorldBounds"
Currently, we have `WorldBounds`, a global variable which allows you to set an `AABB` of where the game-world should be. These are being considered "holy" by the `CameraSystem` - you cannot move outside these bounds.

The `WorldBounds` currently defaults to the window dimensions as defined in the `RunOpts`.

Do we want to keep this behavior? It looks a bit weird in the demos, so maybe we should in

[2016-04-19 21:41] #127 closed

[2016-04-19 23:57] Newbrict commented on #228
you can set the with WorldBounds.Max = ___
what's wrong with this behavior?

[2016-04-19 23:58] EtienneBruines commented on #228
The fact that it's never being done in any of the examples.

Or maybe its default value?

The thing you can set isn't that bad at all, though.

[2016-04-19 23:58] Newbrict commented on #228
So this issue only pertains to the demos?

[2016-04-19 23:59] EtienneBruines commented on #228
At least to the demos; whether or not we want default values at all, and what those values should be, might be a decision we could make.

[2016-04-20 11:17] #222 closed

[2016-04-20 11:20] #200 closed

[2016-04-20 11:50] #224 closed

[2016-04-20 12:45] EtienneBruines opened #231 "Multitexturing"
Basically, "blending" multiple textures over another. Like a path over a grass background.

Short video describing how to do it in Java: https://www.youtube.com/watch?v=-kbal7aGUpk&list=PLRIWtICgwaX0u7Rf9zkZhLoLuZVfUksDP&index=17

[2016-04-20 13:26] EtienneBruines opened #232 "Font atlas"
A lot of our font rendering is being done on the CPU-side (read: all of it).

Instead, we should render each character (pretty much the ASCII alphabet) into a single "texture", and use an "atlas" (sort of like a spritesheet), to indicate which character OpenGL should draw.

A video on how to do this in Java: https://www.youtube.com/watch?v=mnIQEQoHHCU&list=PLRIWtICgwaX0u7Rf9zkZhLoLuZVfUksDP&index=

[2016-04-20 13:32] EtienneBruines opened #233 "Allow for MSAA"
Multi-sampling AA allows to smoother edges. Higher values come with higher costs, but it's fairly easy to implement.

The default is at `1` (so only a single sample), but some games offer higher values (2, 4, 8, 16).

It'd be nice if we offered to change this in our `RunOpts`.

More info here: https://www.youtube.com/watch?v=Pdn13TRWEM0&list=PLRIWtICgwaX0u7Rf9zkZhLoLuZVfUksDP&index=41

[2016-04-20 13:50] EtienneBruines commented on #233
Okay, tbh... Either my implementation doesn't work, or it's just not useful for the pictures I tested them with.

[2016-04-20 14:09] paked commented on #233
@EtienneBruines I'd suspect the latter.

[2016-04-20 14:10] paked commented on #231
I initially was a bit confused as to what we would gain from this over traditional tilemaps, but after watching the video I realised that this could be pretty damn cool in a 2D game.

[2016-04-20 14:10] EtienneBruines opened #234 "Allow for FXAA"
Like MSAA, it allows for anti-aliasing.

This one is not implemented globally, but at the shader-level. There's quite some math to it, but it'd be nice to have.

https://www.youtube.com/watch?v=Z9bYzpwVINA

[2016-04-20 14:11] paked commented on #232
@Newbrict You wrote the original version of the current font renderer, what do you think of this?

[2016-04-20 14:28] EtienneBruines commented on #231
This requires a user-generated blend-map (indicating the proportions of how much to render each texture), and of course, multiple textures "combined".

Roughly:
* We need a way to allow rendering of "a group of textures", maybe create a `type MultiTexture` which allows this.
* Within our Shader, we would then call `Gl.ActiveTexture(Gl.TEXTURE0)` for each of those textures (with the `0` incrementin

[2016-04-20 22:45] Newbrict commented on #233
how does this help in 2D?

[2016-04-20 23:42] Newbrict commented on #232
In the past we used an atlas. but we used a monospace atlas. If you want to build this out either we need a very detailed explanation on how to create the proper font files to be used, or the atlas creation has to be done on preload from ttf file.
unless a lot of code goes into this, using an atlas is way less usable than just rendering on the cpu

[2016-04-20 23:42] Newbrict commented on #232
Also from what I remember you can really optimize my font renderer. I don't cache anything where you could

[2016-04-20 23:50] Newbrict opened #235 "engo.SetBackground"
This really feels like an artifact of old engi

SetBackground should be part of the render system

[2016-04-21 00:26] paked commented on #227
@EtienneBruines Wouldn't rotation with circles be easier lol?

[2016-04-21 13:54] EtienneBruines commented on #233
@Newbrict it will help with lower resolution images looking better; but I guess using a higher resolution image is probably preferred.

[2016-04-21 13:57] EtienneBruines commented on #235
Any suggestions on how to do so?

Currently the `RenderSystem` is used as a one-off "add and forget" kinda thing. This change would require everyone to assign the `RenderSystem` to a variable, to be able to call the `SetBackgroud` function on it. Maybe there's a better solution than this one?

[2016-04-21 13:57] EtienneBruines commented on #227
@paked Lol, yes, if you rotate around the center. Which we don't do yet.

[2016-04-21 21:58] EtienneBruines opened #237 "Repeating textures"
Let's say we have a texture that's 200x200 pixels. But we want to draw something that's 400x400 pixels. We could create four entities, put them next to each other, and be done with it. But it's better to tell the GPU to "repeat" the texture.

It has something to do with changing the settings for these lines of code:

[code]

It could be they're already set correctly, but then we should allow peopl

[2016-04-21 22:45] paked commented on #235
We could do something fancy with messages?

On Thu, 21 Apr 2016 11:57 pm Etienne Bruines <notifications@github.com>
wrote:

[2016-04-21 22:46] EtienneBruines opened #238 "Font Size panic"
Whenever you omit the `Size` variable in the `engo.Font`, and call `Render`, it will panic (saying there's something wrong with slices).

We should check if `Size == 0`, in our Render function. We may log / panic, but at least with a clear error message.

I feel like panic is OK for this, because it's a programming-error, not a runtime-error per se.

[2016-04-21 23:22] EtienneBruines opened #239 "font.TextDimensions incorrect height"
### Actual:
![Actual Behavior](https://www.huperwebs.nl/upload/screenshot-2016-04-22_01:21:17.jpg)

(ignore the border)

### Expected / desired:
![Expected Behavior](https://www.huperwebs.nl/upload/screenshot-2016-04-22_01:17:51.jpg).

### Some strange offset
![Strange offset](https://www.huperwebs.nl/upload/screenshot-2016-04-22_02:16:00.jpg)
### The code

[code]

and

[code]

`maxYBearing` is so

[2016-04-21 23:38] EtienneBruines opened #241 "Pong demo has too much name confusion"
We have a struct called
* `Ball`
* `BallSystem`
* `ballEntity` (beloning only to the `BallSystem`, shouldn't be used anywhere else).

@Newbrict and I thought it'd be nice to rename it to `BounceSystem` and `bounceEntity`.

[2016-04-21 23:39] #238 closed

[2016-04-21 23:45] EtienneBruines commented on #239
@Newbrict do you have any idea what might be wrong?

[2016-04-22 00:20] EtienneBruines commented on #239
Changing the offset in the `pt` variable, does seem to work.

In this particular use-case, I have to subtract `17` from `yBearing`:

[code]

I'm not yet sure what the "general fix" is for this.

[2016-04-22 00:37] EtienneBruines commented on #239
Sorry to have bothered you @Newbrict

Thank you for pointing out it was a flawed ttf-file.

[2016-04-22 00:37] #239 closed

[2016-04-22 11:23] mewmew commented on #75
After having categorized the demos, removing redundant ones should be easy. I would prefer if the demos were kept minimal, to demonstrate a specific aspect of the engine. Otherwise it may be overwhelming for a newcomer. Perhaps the structure and categorization could be provided by the `demos/README.md` file, instead of creating a nested directory structure. This also makes sense, as some demos wou

[2016-04-22 11:37] mewmew commented on #136
The function signature of `NewRenderComponent` should probably be updated to reflect this change.

Before:
[code]

After:
[code]

[2016-04-22 12:37] mewmew commented on #117
Once the golint issues have been resolved, the Travis config may be extended to report the lint status of the project. For an example project using this approach, refer to the following `goclean.sh` script and travis config:

* [goclean.sh](https://gist.github.com/mewmew/379014c9a2e6885e238d) (which is a fork of https://gist.github.com/h12w/0f22736320abe6be71ce).
* [.travis.yml](https://github.com

[2016-04-22 12:50] mewmew commented on #178
Is it conventional to use a `NOTICE` file to track licenses of third-party projects? Which other projects use this approach?

Along @otraore's reasoning, I'd suggest simply adding a bullet list in the [credits section of the readme](https://github.com/EngoEngine/engo#credits) and simply stating their license, or better yet providing a link to their original license file. E.g.

* The Lux engine, wh

[2016-04-22 12:54] mewmew commented on #213
MIT and BSD 2-clause are basically equivalent. The Go project uses BSD, which may be one reason to use the same license. Other than that, I'd be happy in either case as both MIT and BSD are permissive licenses. Personally I'd love if engo was released in the [public domain](https://creativecommons.org/publicdomain/zero/1.0/), if at all possible.

[2016-04-22 12:58] mewmew commented on #188
The general issue discussing how give credit to third-party projects is in #178.

[2016-04-22 13:09] mewmew commented on #72
Did you report this issue to GitHub?

[2016-04-22 13:29] mewmew commented on #196
An example from `shiny` demonstrating how to dynamically load and unload tiles.

https://github.com/golang/exp/blob/master/shiny/example/tile/main.go

![shiny tile rendering](https://i.imgur.com/fEkqSDT.png)

[2016-04-22 13:31] mewmew commented on #196
When implementing dynamic loading and unloading of tiles, do we need to take special consideration to isometric maps? These are also supported by Tiled, and many games would want to use isometric maps.

[2016-04-22 13:58] mewmew commented on #2
For future reference, the proposal was implemented with commit 8d2cc584208e6780a441a4d4a41051725cd64eff as far as I can tell.

[2016-04-22 14:11] paked commented on #191
@EtienneBruines Would you like me to take this off your hands?

[2016-04-22 14:17] paked commented on #59
Correct me if I'm wrong, but #146 fixed this.

[2016-04-22 14:17] #59 closed

[2016-04-22 14:18] paked commented on #31
We no longer have a "camera" tutorial.

[2016-04-22 14:18] #31 closed

[2016-04-22 14:21] paked commented on #30
This will be handled in the EngoEngine tutorial series on our website.

[2016-04-22 14:21] #30 closed

[2016-04-22 14:42] paked commented on #45
I'm going to take a crack at this.

[2016-04-22 18:00] EtienneBruines commented on #72
@mewmew It was non-repeatable, so no.

[2016-04-22 18:02] EtienneBruines commented on #191
Not sure why there's no reference (must've forgotten it).

Fixed as of https://github.com/EngoEngine/engo/commit/719360415b8b5359e610be03c416b980d6c60965. See also https://github.com/EngoEngine/engo/pull/209.

[2016-04-22 18:02] #191 closed

[2016-04-22 18:03] EtienneBruines commented on #31
We do, but it's outdated. See https://github.com/EngoEngine/engoengine.github.io/issues/17

[2016-04-22 18:13] EtienneBruines commented on #213
The difference is that `BSD 2` requires you to:
* Give credit (+ include the `LICENSE`) when redistributing source
* Give credit (usually by enabling the binary to "reproduce" the LICENSE / giving credit) when redistributing binary.

The latter is being done as soon as you compile it.

Main point: **MIT and BSD 2** are quite different in that aspect.

Any reason for this, compared to MIT?

[2016-04-22 18:44] mewmew commented on #213
I feel that anything which may increase the reach, use, adaptation and remixes of work and knowledge in general - be it open source projects, scientific research (through Open Access) or play projects - is a net win, in and of itself. Licenses and other artificial man-made constraints have divided communities for far too long, limiting the spread of important ideas, and hindering projects to reach

[2016-04-22 18:48] mewmew commented on #72
I see, still interesting bug.

[2016-04-22 21:05] EtienneBruines commented on #213
May I ask which obligations MIT forces upon users?

(As this is the internet, I'm just going to say: I by no means mean this in an offensive way; I am just curious about the "real" difference between MIT and public domain, other than "`EngoEngine` takes no liability for damages" (MIT).

I agree that software should be as open as possible, but w.r.t. the "openness", MIT and public domain don't real

[2016-04-22 21:08] HeadClot commented on #196
@mewmew - First off awesome work!

In response to your question - I am unsure but I can ask some people who have done similar things.

[2016-04-22 21:13] mewmew commented on #196
Hope the information may be useful, but I would like to clarify that I did not write the shiny tile example myself. It was written by @nigeltao and @crawshaw.

Please do, the topic interests me personally to a great extent.

[2016-04-22 21:26] mewmew commented on #213
Oh, that's right. MIT is basically BSD 0-caluse, had forgotten. While it doesn't force many obligations on users, it does state the following.

"The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software." [[1]](https://opensource.org/licenses/MIT)

If the main reason for using the MIT license is to ensure that `EngoEngine` takes n

[2016-04-22 21:52] EtienneBruines commented on #213
I completely missed that part! You are right, that is an obligation for users.

As "public domain" is kinda vague, I think we could just modify the MIT license to look like this:

[code]

MIT isn't that bad, though - as it allows sublicensing.

My personal opinion says that one should be able to *use* `engo` to whatever extent they want (commercial included). But once someone wants to edit / fork

[2016-04-22 22:20] HeadClot opened #243 "Universal Windows Platform Support (Xbox One, Windows 10, Surface ,etc.)"
So recently - Microsoft announced that every retail Xbox one console can be turned into a developer kit. [Source](http://www.polygon.com/2016/3/30/11318568/xbox-one-dev-kit)

That said - Would it be possible to support the Xbox One via UWP?

[Details here on the program](https://developer.microsoft.com/en-us/windows/windows-apps/uwp-on-xbox)

[2016-04-22 22:46] HeadClot commented on #196
Hey @mewmew - I asked the question on the [Indie Stone forums](http://theindiestone.com/forums/index.php?/topic/19218-help-special-considerations-for-loading-and-unloading-isometric-maps/) and will do the same on the Tigsource forums.

[2016-04-22 22:54] paked commented on #243
I'm really all for this. UWP would be a massive win for us to support, the problem here is testing. I have a Windows computer I could use to test this... Unfortunately I've never owned an Xbox in my life, let alone an Xbox One.

[2016-04-23 00:38] HeadClot commented on #196
@mewmew - I got a reply from one of the devs behind Project Zomboid -

You can find the reply from Lemmy101 [Here](http://theindiestone.com/forums/index.php?/topic/19218-help-special-considerations-for-loading-and-unloading-isometric-maps/#comment-231772)

[2016-04-23 01:04] paked commented on #228
In my past experiences with other 2D engines the default values for the WorldBounds (or equivalent) are that of the window dimensions.

I think it is fine to leave this as is for now.

[2016-04-23 01:37] HeadClot commented on #243
@paked - Can you afford an Xbox One? If not I would hold off on picking one up as there are rumors of Micorsoft releasing an Cheaper Slim version of the XB1 this year.

Here is a [link](http://gamerant.com/xbox-one-slim-2016/) for more info.

[2016-04-23 02:15] mewmew commented on #196
Wow, that's a wonderful piece of information. Thanks a lot @HeadClot! And of course, thanks @lemmy101 for writing the reply.

[2016-04-23 02:23] mewmew commented on #213
I think we have very similar opinions about this. I also like to see people work together, and I have a firm belief that those who wish to contribute back to a project will do so, no matter what license is used. Diving into a new project however is another issue. Personally, I'd think twice before spending a large amount of time diving into a GPL code base, but that's a topic for another discussio

[2016-04-23 02:42] mewmew opened #245 "Evaluate how a minimal engo API may look like"
I'd like to evaluate which parts of `engo` make up the *core* of the engine. In particular, it would be interesting to find out whether we may arrive at a minimal API, from which common systems and components may be implemented as standalone packages, which would use composition, message-passing and prioritization of systems as provided by `ecs` and `engo`.

An initial evaluation has identified th

[2016-04-23 03:21] mewmew commented on #245
From commit mewpull/engo@131842414d833847eb2a89b2d992da4b372a3146.

The *core* branch at https://github.com/mewpull/engo/tree/core is tracking preliminary work at evaluating what the minimal API of `engo` may look like, and whether it is possible to decouple components from one another.

[2016-04-23 09:06] paked commented on #243
I'm not really in a position to lay down money for an Xbox One. However if this slim model comes out I would definitely reassess the situation.

[2016-04-23 09:06] paked commented on #243
@EtienneBruines @otraore Do either of you have an Xbox One?

[2016-04-23 13:10] mewmew commented on #245
A [modified version](https://github.com/mewspring/junk/tree/master/glyph) of [Dave Cheney's glyph command](https://godoc.org/github.com/davecheney/junk/glyph) was used to visualize the dependencies between the `engo` packages of the experimental *core* branch. The modified version of `glyph` excludes standard library packages from the graphs, to focus on the interesting parts, namely the intricate

[2016-04-23 13:27] EtienneBruines commented on #245
Those are some nice graphs. How did you remove the dependencies of the camera / space?

Things like:
* `CameraSystem` depends on `SpaceComponent` (as do a lot of other systems)
* `RenderSystem` depends on `CameraSystem` (heavily)

[2016-04-23 13:29] EtienneBruines commented on #245
This kinda looks pretty nice.

Not sure if I like what it does to components used by multiple systems (the `SpaceComponent` and `RenderComponent` are used quite often), but that's just a matter of taste, I guess.

[2016-04-23 15:17] #45 closed

[2016-04-23 16:54] otraore commented on #178
I think what @mewmew says is a good idea, unless anyone wants to argue against it, I'm going to send a PR soon to implement it

[2016-04-23 22:18] otraore commented on #243
@EtienneBruines sadly no, I have the old xbox 360 rip'ing in my closet.

[2016-04-23 22:18] otraore commented on #243
Also we already support windows 10 just not UWP.

[2016-04-24 01:11] paked commented on #243
@otraore Hmmm. I think this is definitely something we could do if we had more resources.

[2016-04-24 01:12] paked commented on #178
@otraore This works for me!

[2016-04-24 01:29] otraore commented on #178
@paked Great!

[2016-04-24 03:51] mewmew commented on #245
I also think it is worth looking into.

After the evaluation finishes and we discuss the matter, there may very well be a set of *base* or *core* components which are deemed so essential that it doesn't make sense to decouple them from the general `engo` engine. However, some things like spritesheets or tmx support seems like obvious candidates, as these are not likely to be used in *every* game.

[2016-04-24 12:06] EtienneBruines commented on #243
@paked Unfortunately I also don't have one. Would be nice if we could support it some day, though.

[2016-04-24 12:51] paked commented on #218
@otraore Can we close this yet? Since `webgl` is now `gl`?

[2016-04-24 12:53] EtienneBruines commented on #218
Yes.

[2016-04-24 12:53] #218 closed

[2016-04-24 13:00] mewmew commented on #245
To summarize, the current `engo` package will be split into two packages `engo` and `core`. The `engo` package will implement the minimal engine API upon which useful `System`s and `Component`s may be built.

# Engo

* Window handling (glfw, GopherJS, mobile backends)
* Input handling (keyboard, mouse, game controllers)
* Message passing/event handling

# Core

Every `System` and `Component` imple

[2016-04-24 13:02] paked commented on #245
**FYI I don't want to proceed with this until we have closed #71. Rather scared of the consequences it would have for @otraore :D**

[2016-04-24 13:05] paked commented on #117
I've added this issue to the 1.0 milestone, but in order to minimize the amount of rewriting we have to do I would encourage everyone to leave this as late as possible :D

[2016-04-24 13:13] mewmew commented on #213
The Engo project will be released under a MIT license. For background discussion, see https://gitter.im/EngoEngine/engo?at=571cc4e7d47413c07dccc170

[2016-04-24 13:23] mewmew commented on #213
@EtienneBruines [wrote](https://gitter.im/EngoEngine/engo?at=571cc80e47b4c6480ff9c3ae):

(1) We update our LICENSE file to MIT
(2) We add a "Credits" section to our README.md file, mentioning the original engi by ajhager, linking to both engi and add ([BSD](url-to-his-license-file)) to it.

[2016-04-24 13:31] EtienneBruines opened #246 "Generic asset loader"
It would be nice if users had the possibility to add their own filetype / extension / loader method to our asset loader.

To be complete, we would then use that method ourselves.

Thinking of a generic interface, let's brainstorm.

[code]

There'd also have to be a generic method of retrieving the actual resource? Or not? Kinda like our `engo.Files.Image("url")` returns an actual (loaded) image.

[2016-04-24 13:35] paked commented on #246
I think this is all well-and-good, but retrieving a resource is going to be a major problem.

[2016-04-24 13:38] EtienneBruines commented on #246
Can you elaborate? We could also use `[]byte` instead of `url string`; that should make it easier.

[2016-04-24 13:39] mewmew commented on #246
We may take inspiration from how the image package handles decoding of unknown file extensions (`.gif`, `.jpg`, `.png`, etc).

[image.RegisterFormat](https://golang.org/pkg/image/#RegisterFormat)
[code]

From [image/png/reder.go](https://github.com/golang/go/blob/75b844f0d228bda5dea2aabae096909f81355bac/src/image/png/reader.go#L855):
[code]

Perhaps we may wish to stay away from using the `init` f

[2016-04-24 13:41] mewmew commented on #246
I think @paked meant how to get access to loaded resources. The current `Files.Font`, `Files.Image` etc. How to we do for unknown (i.e. user-defined) formats?

[2016-04-24 13:41] mewmew commented on #246
For the record, I think `url string` is better than `url []byte`.

[2016-04-24 13:42] mewmew commented on #246
Also, `Load` and `Unload` should return `error`.

[2016-04-24 13:42] EtienneBruines commented on #246
I was thinking `url string` versus `data []byte`.

SGTM. Updated.

[2016-04-24 13:44] paked commented on #246
Also, I'd like to propose:

[code]

This abstracts the loading mechanism to `engo` (getting resources on `webgl` is going to be different to a native applciation). I'm not quite sure how to do unloading, but I imagine we have a "resource id" style attribute somewhere.

[2016-04-24 13:44] EtienneBruines commented on #246
Sounds reasonable. What if we didn't offer a "generic" API for that? Meaning they would have to handle that themselves? But that we just offer a nice way to generally load / unload resources when needed. To allow for the nice `Preload` method with `Add`.

[2016-04-24 13:46] mewmew commented on #246
This sounds reasonable. Similar to how we type switch on systems.

[2016-04-24 13:46] EtienneBruines commented on #246
Could you elaborate on that?

[2016-04-24 13:50] EtienneBruines commented on #228
Should we updated some demos (such as the `hud` demo) to use custom-defined values? Or design the demos in such a way that the "background" drawn also matches `WorldBounds`?

[2016-04-24 13:58] mewmew commented on #246
The System and Component implementing support for a new game resource type, would know which type it expects, e.g.

Contents of `core/assets.go` (or potentially `core/files.go`):
[code]

Contents from (fictional) `thirdparty/blend.go`
[code]

[2016-04-24 13:59] mewmew commented on #246
I think the only way to figure out how the `FileLoader` interface should look like is to implement some *third-party* file sources, which would load resource types unknown to `core`. Of course, we could do a PoC using one of the resource types already supported by Engo, simply to test the API.

[2016-04-24 14:12] mewmew commented on #246
[code]

[2016-04-24 14:14] mewmew commented on #246
I'd still prefer to use some notion of a URL rather than a resource ID, as I've seen other projects struggle with resource IDs in the past. Basically they make debugging painful, and require a pre-process (e.g. go generate) to convert resource paths to resource IDs, thus hindering prototyping.

[2016-04-24 14:14] mewmew commented on #246
Not, I don't think the URL should be analogous to an absolute file path, but rather a project relative uniform resource locator, similar to how Go handles import paths.

[2016-04-24 14:15] otraore commented on #245
I agree @paked :D

[2016-04-24 14:20] mewmew commented on #246
Sorry, I misunderstood the initial intention of `FileLoader`. I read it as analogous to `core.Files`. According to the original definition of `FileLoader`, a third-party package would *register* new file loaders simply by adding them to `core.Files`.

[2016-04-24 14:52] mewmew commented on #246
Ok, new attempt. This is the cleanest API I've managed to come up with so far. What do you guys think?

Contents of `core/files.go`:

[code]

Contents of (fictional) `thirdparty/blend.go`:

[code]

[2016-04-24 15:22] mewmew commented on #246
I'll try implementing the generic assets loader, so that we may evaluate how well the suggested interfaces solves real problems for users of the API.

[2016-04-24 15:22] EtienneBruines commented on #246
That won't compile, though.

[code]
won't match
[code]

Other than that, it looks great.

[2016-04-24 15:22] mewmew commented on #246
It should. `*Blend` implements the `Resource` interface.

[2016-04-24 15:23] EtienneBruines commented on #246
Shouldn't you have to change `*Blend` to `Resource`? Then you could return something of type `*Blend`.

[2016-04-24 15:24] mewmew commented on #246
Actually, you may be right. Hmm, will have to check closer.

[2016-04-24 15:26] EtienneBruines commented on #246
Confirmed: https://play.golang.org/p/_4UgO8EUyX

[2016-04-24 15:31] mewmew commented on #246
Right. Well, this gives us a few options. Either we could return a `Resource`, or simply remove the `Resource(url string) (Resource, bool)` method from the `FileLoader` interface. And make it conventional for FileLoaders to provide a `Resource(url string) (*CustomFormat, bool)` method. We could still provide a `Resource(url string) (Resource, bool)` method at the top level, i.e. `core.Files.Resour

[2016-04-24 15:38] mewmew commented on #246
Hmm, might have been tricker than I thought.

This would not allow us to implement the top-level `core.Formats.Resource` method as illustrated below, as the loader would not implement the `Resource(url string) (Resource, bool)` interface.

[code]

Aarrgh, it feels like we are so annoyingly close a clean abstraction. How could we resolve this issue?

How often do you recon users may want to access

[2016-04-24 15:52] EtienneBruines commented on #246
Some key-value stores in Go (such as the gorilla session package), allows you to store `interface{}` per key. Something like `map[string]interface{}`. You would then first check "does it exist", and then "does it match my type". Even though this creates mores lines of code, this does seem like the accepted way to go.

In our case, that would mean they would indeed implement the `Resource(url strin

[2016-04-24 17:30] mewmew commented on #246
I've implemented a simple proof of concept Blender model resource loader, to demonstrate how the `core.FileLoader` API may be used.

# Example game usage

Examples from [mewspring/poc/cmd/game/game.go](https://github.com/mewspring/poc/blob/master/cmd/game/game.go).

From the users (i.e. game developer) point of view, resource loading looks as follows:

[code]

Resource unloading:

[code]

Resource

[2016-04-24 20:40] otraore commented on #221
https://github.com/luxengine/ctrl looks pretty cool

[2016-04-25 01:49] EtienneBruines commented on #246
Just a side-note. We should ask whether this becomes part of `core` or part of `engo`. It's not obligated per se, but it's also not a system like the others. And there *will* be a lot of platform-specific code for this one.

[2016-04-25 01:51] EtienneBruines commented on #246
Concerning the API: I like it.

@paked @otraore opinions?

[2016-04-25 02:04] paked commented on #246
@EtienneBruines I think that the resource loader management and basic resource loaders should be part of `engo`, because it is concerned with low level stuff. However, any loaders which might not be always used (ie. the ones that are not currently in master) should be in `core`.

[2016-04-25 02:07] EtienneBruines commented on #246
We could even create a separate package for the asset manager, if we wanted.

[2016-04-25 02:08] mewmew commented on #246
I know that the old assets loader was deeply coupled with the different file formats, as its dependency graph included several cycles. The new API however should be fully generic, and I believe we should be able to implement loaders for the different resource types (`Image`, `Font`, etc) without having to put the resource loader into `engo`. The only thing we may have to think about is how to regi

[2016-04-25 02:10] mewmew commented on #246
Could you elaborate on the benefits and drawbacks of having a dedicated package for the assets manger? Is the main rationale of not placing it in *core* that it doesn't belong because it is not a System/Component? I believe we will have several similar cases where a conceptual part of the engine doesn't quite fit into the `System`/`Component` design, but still is not necessarily part of the low-le

[2016-04-25 02:30] mewmew commented on #246
Happy to hear : ) It was fun discussing these topics with you guys.

I'm starting to lean towards placing the assets manager in `engo` as well, since the fundamental file formats (such as `Image`) needs to be registered with the assets manager. Still, I'd like to see how the `engo` package turns out after we start separating it into `engo` and `core`. It is possible that `engo` defines interfaces

[2016-04-25 02:57] paked commented on #246
I'm pretty much happy with the API: However:

Can we please use `io.Reader`s instead of file URLs? Using an io.Reader makes the system much more flexible for our web target (and probably others in the future). Also, I highly doubt there is any difference in the way these packages read files.

[2016-04-25 03:02] mewmew commented on #246
Lovely.

The main issue would be how to handle unloading of resource. Should `Load` return a resource ID? Having to keep track of the ID seems like it removes the main benefit of the assets loader, as then the user could simply keep track of the loaded file instead. What other approaches may we explore for handling unloading of resource?

[2016-04-25 03:02] paked commented on #228
@EtienneBruines As long as the `WorldBounds` properly reflects the space used in the demo, I am happy.

[2016-04-25 03:26] EtienneBruines commented on #246
@paked You can see the file URL as the "unique identifier" for that resource.

I do have to say that we may want to pass `io.Reader` to the `FileLoader`s, while we still use the URL as unique identifier? Not sure about what the best implementation would be, but ideally we would want to provide the `FileLoader` with the actual file contents, regardless of how they are retrieved (direct file access

[2016-04-25 12:43] EtienneBruines opened #249 "Add gopherjs to travis.yml"
It'd be nice if we tested the build integrity of `engo` w.r.t. gopherjs as well.

Should be done after #247, though.

Something I found on the web:
[code]

I can imagine we also have to use that `script` tag to define it. Not sure if we have to write some weird script to find all `main` files, though. (Travis now does that for us, using just Go)

[2016-04-25 15:46] otraore commented on #246
As a side note I also want to mention the fact the "unique identifiers" as far as I know is the file name for example:

[code]

will have identifiers ```["hello.png", "another.png"] ```

There's a problem when I have directory like:

[code]
The two assets will conflict.

[2016-04-25 16:03] mewmew commented on #246
It would be the users responsibility to provide a unique identifier, similar to how Go handles [qualified identifiers](https://golang.org/ref/spec#Qualified_identifiers) in source code, and lets DNS handle name space conflicts.

This means that the "unique identifier is "assets/level1/bg.png" and "assets/level2/bg.png", not "bg.png".

[2016-04-25 16:06] EtienneBruines commented on #246
@mewmew That would indeed be the case.

I have to agree with @otraore that this is currently not the case, but we'd have to change it into that.

[2016-04-25 16:06] otraore commented on #246
@mewmew I understand what you're saying, but that's not currently the case.

[2016-04-25 16:47] EtienneBruines commented on #235
I would say it's not part of the render system, but more of the "window creation", as a possible setting.

You can set width, height, fullscreen, title, fps limit. Why not add `Background` to that list?

[2016-04-25 18:28] #241 closed

[2016-04-25 18:37] mewmew commented on #241
Haha, misread the `bug` label as *hug*. Thought it was very sweet to give an issue a hug.

[2016-04-25 18:40] otraore commented on #235
What does the ready label even mean @EtienneBruines ?

[2016-04-25 22:15] mewmew commented on #246
Is everyone happy with updating the signature of Load to the following?

[code]

I imagine a lot of desktop games will simply want to call `Load("path/foo.png", nil)`, which looks quite ugly. Any suggestions? It this is a common use case, we would have to update the above documentation stating how `FileLoader`s should handle `nil` readers.

One solution could be to provide two methods, say `Load(u

[2016-04-25 23:03] paked commented on #246
@mewmew I think that we should classify a `nil` reader as an invalid input. I don't see any case in which loaders should not have to read from the reader?

[2016-04-25 23:25] mewmew commented on #246
The generic assets loader is in part a standardization on how to load game assets, and from that aspect I do agree that an `io.Reader` make a lot of sense. From another point of view, the assets loader is simply a convenience API for the user, and providing a file path is often more convenient than opening a file simply to provide an `io.Reader`.

Consider the animation demo of engo. From [anim.go

[2016-04-26 00:00] paked commented on #246
Sorry, looks like we've had a misunderstanding. I believed we would have a wrapper around which could handle the transformation from URL/ID to `io.Reader`

[2016-04-26 00:10] #213 closed

[2016-04-26 00:23] mewmew commented on #246
Ah, I see. That might also be an option. Wanna flesh out a proposal for how the wrapper would look like?

[2016-04-26 01:00] otraore commented on #178
Closed by https://github.com/EngoEngine/engo/pull/248

[2016-04-26 01:00] #178 closed

[2016-04-26 01:10] EtienneBruines commented on #235
`ready` to be worked on. `ready` to start coding if someone wants.

[2016-04-26 01:18] otraore commented on #235
@EtienneBruines why not `help-wanted` ?

[2016-04-26 01:20] EtienneBruines commented on #246
@mewmew I think this would qualify. We could have one for each platform.

[code]

Note that this is within the "general asset manager", not the specific "*.blend" parser.

[2016-04-26 01:23] EtienneBruines commented on #235
Hmm. No particular reason. I always thought of `help-wanted` like "we won't be able to do this ourselves any time soon". While `ready` might be useful for us when we are bored and just wanna fix issues.

[2016-04-26 01:25] paked opened #252 "Input Proposal"
# Input Proposal

Our current input "system" (hint: it isn't an ECS system) has been the way it is for a solid two years now. As the the rest of the engine has evolved, input seems to have remained relatively static. This is probably a good thing, at least we implemented something right the first time! However, I'd like to propose a few changes which I think will greatly improve interacting with i

[2016-04-26 01:25] paked commented on #252
DERP. ACCIDENTAL SUBMIT...

[2016-04-26 01:54] mewmew commented on #235
I've always thought of the "help wanted" label as *this issue is up for grabs*.

Quickly using Google to find a subset of the Internet which confirms this belief, and simply remain oblivious to the first 10 or so search results which holds a different opinion : )

From https://news.ycombinator.com/item?id=9306794

[2016-04-26 02:07] EtienneBruines opened #253 "Spritesheet has multiple textures"
It would be nice if a spritesheet would just load one texture onto the GPU, and simply change the view.

But I'm not sure if that's exactly what @Newbrict is trying to achieve at the moment?

[2016-04-26 02:29] paked commented on #252
# Input Proposal

Our current input "system" (hint: it isn't an ECS system) has been the way it is for a solid two years now. As the the rest of the engine has evolved, input seems to have remained relatively static. This is probably a good thing, at least we implemented something right the first time! However, I'd like to propose a few changes which I think will greatly improve interacting with i

[2016-04-26 03:24] mewmew commented on #245
Just to keep notes in one place.

From https://gitter.im/EngoEngine/engo?at=571edc676e3ae55e37ea0e63

[2016-04-26 04:53] EtienneBruines commented on #235
@mewmew I think I'll use that definition in the future. :smile:

[2016-04-26 04:57] EtienneBruines commented on #237
Additional reading:

Source: https://www.opengl.org/sdk/docs/man/html/glTexParameter.xhtml

[2016-04-26 05:20] EtienneBruines commented on #237
### Current state
I have defined the OpenGL calls and `Repeat` variable on the `RenderComponent`. However, all of it (still) depends on the `Viewport()` returned by the texture. If this is larger than `1.0`, then it starts repeating. So far, values of `1.0` are hardcoded.

We should find a way to change this at the `RenderComponent` level  -- or do we want to define this at the `Texture` level?

@

[2016-04-26 11:19] otraore commented on #252
I like it, I do recommend the core package then has some defaults registered in it so you can use the defaults for casual games and not have to force the users to do it themselves if they don't want to. So something like ```core.DefaultInput()``` or something like that. I know the name's crude but I hope the idea got across.

[2016-04-26 11:26] paked commented on #252
@otraore Yep! I was going to have some reasonable defaults available.

I was actually anticipating that this would be apart of `engo` as opposed to `core` as it has to do with `input`, one of the topics that we said would belong there.

[2016-04-26 11:33] otraore commented on #252
@paked Sure, I just read the gitter chat. It's a really nice idea though.

[2016-04-26 15:25] otraore commented on #154
Up for (re-)review

[2016-04-26 15:26] otraore commented on #174
Audio is working fine on OSX, updating issue.

[2016-04-26 15:28] otraore commented on #188
Fixes by https://github.com/EngoEngine/engo/pull/248

[2016-04-26 15:28] #188 closed

[2016-04-26 15:29] otraore commented on #180
I want to make another suggestion and give the option to only draw things x distance from the camera  and not things right at the edge to lower chances of seeing blank area while rendering. This would have a default and be modifiable by the user.

[2016-04-26 15:35] otraore commented on #253
I'm not sure I understand this, can you explain further @EtienneBruines

[2016-04-26 19:07] mewmew commented on #154
I second @faide's remark and think we should wait with this until there is a real case scenario in which the GC has been proven to be the culprit of the performance loss.

[2016-04-26 21:13] paked commented on #154
I highly doubt this well **ever** be an issue given the recent GC optimisations. We could probably optimise our use of CGO before needing to come anywhere near the GC.

[2016-04-26 21:13] paked commented on #180
@otraore Sounds good to me!

[2016-04-26 21:16] mewmew commented on #154
Agreed. Lets close this issue for now to reflect this. If GC ever becomes an issue in the future, the issue will be archived and may be re-opened at that time.

[2016-04-26 21:21] otraore commented on #154
Agreed @mewmew closing now.

[2016-04-26 21:21] #154 closed

[2016-04-26 23:46] Newbrict commented on #253
isn't that exactly how the behavior is right now?

[2016-04-27 01:51] otraore commented on #154
Also wanted to add the fact the documentation itself says:

Emphasis on "It may also block the entire program"

[2016-04-27 03:44] paked commented on #154
@otraore But realistically this is only the tiniest amount of time. If you use sane memory management practices this should never happen.

[2016-04-27 07:00] EtienneBruines commented on #180
Could you elaborate on this?

[2016-04-27 07:02] EtienneBruines commented on #154
SGTM.

[2016-04-27 07:14] EtienneBruines commented on #253
Currently, spritesheets:
* Are one image file
* Include multiple "images" (usually in some kind of grid)
* You can define the location of those images (within the bigger image) to use them
* But *currently* these smaller regions, get sent to the GPU one-by-one, resulting in many `GPU Texture`s. A (better) alternative is to send it to the GPU once, resulting in one big `GPU Texture`. Then you would

[2016-04-27 12:55] paked opened #256 "AudioSystem on Web"
This is a companion issue to #174.

[2016-04-27 13:09] mewmew commented on #256
Why the bug label?

[2016-04-27 14:43] otraore commented on #154
What does sgtm mean?

[2016-04-27 14:48] mewmew commented on #154
sounds good to me

[2016-04-27 14:49] otraore commented on #154
Thank you @mewmew

I was confusing it with LGTM (Lets get this merged) so I was stuck on what would the S mean.

[2016-04-27 14:50] otraore commented on #256
Fixed @mewmew

[2016-04-27 14:57] mewmew commented on #154
Hehe, no worries. I usually interpret LGTM as looks good to me.

[2016-04-27 14:58] mewmew commented on #256
Thanks. Could you remove the bug label from #174 as well?

[2016-04-27 15:08] otraore commented on #256
@mewmew I removed and re-added because I'm not sure if it isn't a bug. Windows is a "supported platform" at the moment and audio not working on it is a bug in my opinion.

[2016-04-27 15:52] mewmew commented on #256
Sounds reasonable.

[2016-04-28 04:45] mewmew commented on #256
Before implementing this, take a look at https://github.com/hajimehoshi/ebiten/blob/master/audio/internal/driver/driver_js.go to see how it solves audio playing for the JS backend.

[2016-04-28 04:46] mewmew commented on #174
It may be worth comparing the current implementation to https://github.com/hajimehoshi/ebiten/blob/master/audio/internal/driver/driver_windows.go which also implements a Windows backend for playing audio.

[2016-04-28 05:07] paked commented on #154
@mewmew Same!

[2016-04-28 11:01] otraore commented on #256
I already have a more higher level way of doing it @mewmew Thanks for the pointer though, might be useful.

[2016-04-28 11:02] otraore commented on #154
So maybe I had it all wrong, Oh well in the context we saw it, they kind of meant the same thing.

[2016-04-29 08:28] EtienneBruines opened #259 "Multiple OpenGL versions"
Regarding our OpenGL version discussion we had yesterday. We might decide to support multiple OpenGL versions. As I've read, most of the "newer" functions available in higher versions, are usually available through "extensions" (you check if they are supported, and if so, you use them) - but we also might support multiple versions, and let the game-maker decide which one he wants to use. Since we

[2016-04-29 08:30] EtienneBruines commented on #174
@mewmew Nice source. I'd like to note that OpenAL is not used in that example. Why would you want OpenAL? So you can define a location / direction for the audio. Moving the Camera around, almost automatically handles the volume of all audio sources.

[2016-04-29 13:10] EtienneBruines commented on #259
To summarize: this issue is on hold.

[2016-04-29 13:50] EtienneBruines opened #260 "Fonts on Web"
Currently, gopherjs offers no font usage.

Whenever you try to render a font, the game crashes. This is known, but should be fixed.

[2016-04-29 13:50] EtienneBruines commented on #71
Closing because we have #256 and #260, and @otraore fixed the core part.

[2016-04-29 13:50] #71 closed

[2016-04-30 02:23] mewmew opened #261 "Documentation of public API"
Before the v1.0 release, the documentation of the public API of `engo` (and `core`) could use some love <3

This issue mirrors the one tracking `ecs` documentation at https://github.com/EngoEngine/ecs/issues/2

In particular, all exported functions, types, global variables, constants and methods should have a doc comment (of course using the conventions described in https://blog.golang.org/godoc-d

[2016-04-30 22:03] EtienneBruines opened #262 "Moving TrafficManaget to this repo"
Main issue: we want to add [TrafficManager]() to the travis configuration, to ensure it builds. (Note that this will not ensure the "code snippets" at engo.io will build, but at least the source code is up-to-date. )

We could do this by moving the branches at TrafficManager into separate directories at this repo.
- `demos/trafficmanager/01-hello-world`
- `demos/trafficmanager/02-first-system`
- e

[2016-04-30 23:07] otraore commented on #262
@EtienneBruines no need to loop the branches, only need to check the master branch when making sure it builds.

[2016-04-30 23:23] paked commented on #262
Isn't there a way to trigger other travis builds while in a travis build?
If that is a thing we could setup a travis.yml file in the TrafficManager
repo itself.

On Sun, May 1, 2016 at 9:07 AM Ousmane Traore <notifications@github.com>
wrote:

[2016-04-30 23:25] EtienneBruines commented on #262
@paked That would be awesome, but I haven't found anything in the documentation that would indicate such a feature.

@otraore So we'd just "trust" that whenever we have to make changes to `master`, other branches are being updated as well? (There's 1 branch per tutorial-post, and I'd love for each of those to be kept up-to-date).

[2016-04-30 23:26] otraore commented on #262
@EtienneBruines Why are tutorial-posts per branch?

[2016-04-30 23:27] otraore commented on #262
Also https://docs.travis-ci.com/user/triggering-builds ?

[2016-05-01 00:26] EtienneBruines commented on #262
@otraore They are per-branch, because the tutorial posts work incrementally. So each new post, adds something new -- possibly changing / removing what was previously there.

So in order to prevent people from seeing a source directory with 10 files and thousands of lines of code, it's just limited to what was explained in that specific post. So each branch handles just that what is handled by the

[2016-05-01 00:28] otraore commented on #262
SGTM, I've actually seen that a couple of times with tutorial like repos. Alright so moving them to master is not an option then

[2016-05-01 00:40] EtienneBruines commented on #262
Well, we could move each branch to its own folder. That would "flatten" the repository, and make it easier to move it to this one.

[2016-05-01 02:18] paked commented on #262
I kind of want to keep traffic manager in its own repo for now... What if we did something like:

[code]

[2016-05-01 16:18] otraore commented on #262
I don't tthink go get git clones a repo, and even if it did not all the branches show up automatically, I'm going give this a try with automatically triggering a build

[2016-05-01 16:54] #212 closed

[2016-05-01 17:02] otraore commented on #161
Closing this in favor of: https://github.com/EngoEngine/engo/issues/162

[2016-05-01 17:02] #161 closed

[2016-05-02 01:23] EtienneBruines opened #264 "Width to GameWidth isn't documented as breaking"

[2016-05-02 01:33] #135 closed

[2016-05-02 01:33] #211 closed

[2016-05-02 02:01] EtienneBruines commented on #131
I am going to skip the circle for now. Looks like OpenGL doesn't like circles.

[2016-05-02 02:22] EtienneBruines commented on #131
Time for some discussion. Looks like some things are going to be tricky overall:

* Circles / Dotted-line (hard, but possible)
* Line color (as OpenGL only has "fill")
* Border

The main problem is defining them within a `RenderComponent`. Basically they'd have to be some kind of `Drawable`.

[code]

All these values would return default values for all basic shapes. We would do a type-switch (like

[2016-05-02 02:27] EtienneBruines opened #265 "Rotate around center"
Currently we're rotating around the origin, like in the rotation demo. But it'd be cool if we could rotate around the center of the object as well. The user would define which of the two they'd like.

Up for grabs.

[2016-05-02 22:29] EtienneBruines opened #269 "Add a logo parser"
Sample C++ code: https://www.cs.uaf.edu/~cs481/docs/turtle.h

It basically allows you to define shapes by incrementally defining the steps to create it.

(Low-priority, imho)

[2016-05-02 22:38] EtienneBruines commented on #264
Fixed in https://github.com/EngoEngine/engo/pull/268.

[2016-05-02 22:38] #264 closed

[2016-05-02 23:02] EtienneBruines opened #270 "Scale entire game"

[2016-05-02 23:02] paked commented on #269
This is probably reliant on #131

[2016-05-03 00:12] mewmew commented on #270
Ebiten does this, and personally, I love having this option present. Specifically when writing games for 640x480 screens : )

[2016-05-03 00:15] EtienneBruines commented on #270
Different scaling options for the `X` and `Y` axis?

[2016-05-03 00:44] paked commented on #270
@EtienneBruines yes.

[2016-05-03 00:45] paked commented on #270
@EtienneBruines yes.

[2016-05-03 00:45] mewmew commented on #167
Anthony Starks, who made svgo also made a wrapper for openvg.

https://godoc.org/github.com/ajstarks/openvg

He gave a talk at dotGo 2015, covering both of these packages https://www.youtube.com/watch?v=nuDO1oQxARs

[2016-05-03 00:49] paked commented on #167
@mewmew If we were to do use this library we would have to make another wrapper, along the same lines as engoengine/audio or engoengine/gl. It uses CGO, but I imagine SVG support on webgl is easier than native.

[2016-05-03 00:57] mewmew commented on #167
It would also be interesting to look into https://github.com/llgcode/draw2d

[2016-05-03 01:37] otraore commented on #261
I put the on-hold label because this is one of those last few issues we deal with before 1.0. Upcoming PRs and changes will try to document anything they add in, but anything left at the end will be swooped in by this one.

[2016-05-03 12:38] otraore commented on #43
This also might be a godoc.org/github.com/google/mobile issue.

[2016-05-03 13:57] otraore commented on #252
Closed by https://github.com/EngoEngine/engo/issues/258

[2016-05-03 13:57] #252 closed

[2016-05-04 12:13] EtienneBruines commented on #233
When drawing shapes, this matters.

# Non-AA
![](https://www.huperwebs.nl/upload/screenshot-2016-05-04_14:03:12.jpg)

# With AA
![](https://www.huperwebs.nl/upload/screenshot-2016-05-04_14:07:48.jpg)

[2016-05-04 12:13] EtienneBruines commented on #233
Fix will be part of https://github.com/EngoEngine/engo/pull/266.

[2016-05-05 15:24] otraore opened #272 "AudioSystem Proposal"
We've decided to create a new audio package `engo.io/audio` which is similar to `engo.io/gl` being a wrapper around the audio players for each platform. It'll have a higher level API similar to https://godoc.org/golang.org/x/mobile/exp/audio. After it's done the AudioSystems will be using it to provide a cross-platform audio player/system. This will also attempt to support the AudioSystem on both

[2016-05-05 15:25] otraore commented on #174
Closed in favor of: https://github.com/EngoEngine/engo/issues/272

[2016-05-05 15:25] #174 closed

[2016-05-05 15:25] otraore commented on #256
Closed in favor of: https://github.com/EngoEngine/engo/issues/272

[2016-05-05 15:25] #256 closed

[2016-05-06 14:58] EtienneBruines opened #275 "Controls for Mobile"
I was wondering, what kind of Controls we'd like to support for our `mobile` version? Not sure if we have access to the (physical) volume buttons, or if we want to use rotation? (Not sure if we can with Android NDK/iOS)

Touch screen would obviously be one of them, but I'd think that'd be more like a mouse than like anything else.

Ideas? Thoughts? Wishes?

[2016-05-06 17:30] EtienneBruines commented on #245
I'd love for this to "wait" until PR's https://github.com/EngoEngine/engo/pull/274, https://github.com/EngoEngine/engo/pull/273 and https://github.com/EngoEngine/engo/pull/266 are merged. Those combined change about 2k lines of code throughout the project.

Do we also want to wait for https://github.com/EngoEngine/engo/pull/251 ? @paked @mewmew @otraore ?

[2016-05-06 21:58] #260 closed

[2016-05-06 22:37] paked commented on #245
Let's do a feature freeze while we make these changes. Basically get as
much merged in as possible, and then split core and engo.

On Sat, 7 May 2016 3:30 am Etienne Bruines <notifications@github.com> wrote:

[2016-05-07 00:45] mewmew commented on #245
Definitely. The split into `engo` and `core` will be affect almost every part of the engine, so having large PRs merged first makes a lot of sense.

We could go either way with #251. As the current assets package is tied into basically everything of engo we may as well wait with #251 and do it at the same time as we do the split. At least, I think it may be easier to do both at the same time, but

[2016-05-08 12:00] paked commented on #275
I think at this point I would be satisfied with multi-touch working.

[2016-05-08 12:24] paked opened #277 "Update README with more accurate project status"
I'd like to include in this:

- Status on mobile support
- Status on web support
- Status on Windows, OSX and Linux support
- Stability statement
- A preliminary release timeline

[2016-05-08 12:26] paked commented on #262
@otraore `go get` clones the repo for me?

[2016-05-08 12:47] EtienneBruines commented on #262
@paked @otraore more specifically, it `git clone`s indeed - checking out the `master` branch by default. And there's no way to change this (except for `git checkout` afterwards)

[2016-05-08 22:16] akiross opened #278 "No mouse button demo"
In the mouse demo there is no code showing how to deal with mouse clicks.
I suggest to introduce some code that prints different messages depending on the mouse button pressed and whether the mouse pointer was over or outside the entity.

[2016-05-08 22:25] akiross opened #279 "JustPressed issued after releasing long-pressed key"
Edit (@otraore): As mentioned by @mewmew this is a https://github.com/glfw/glfw/issues/747 issue.
In the following example code, `JustPressed` should return true only when the space key is pressed. However, it yields an unexpected (or, at least, counter-intuitive) result in a specific use case.
- press and release space: outputs message once (expected)
- press and release space multiple times: out

[2016-05-08 22:28] paked commented on #278
Once we have #276 merged in we should come up with an input demo.

[2016-05-09 00:55] EtienneBruines opened #280 "Add tests for shaders"
Currently, vertex shaders and texture shaders can fail.

We should try to make some kind of `_test.go` file for those shaders, trying to compile them using some kind of headless OpenGL stuff.

Up for grabs.

[2016-05-09 16:55] EtienneBruines commented on #275
This requires us to have multiple `Mouse` objects available to users.

We could change `Input.Mouse` from `Mouse` to `[]Mouse`, or add something like `Input.MouseSecondary`, `input.MouseTertiary`. But that might feel weird as it's only being used to support multi-touch.

We could always add `input.Touch` which is an array, and let the user work with that (completely separated from `Mosue`).

Thoug

[2016-05-09 17:01] EtienneBruines commented on #131
Done in #266

[2016-05-09 17:01] #131 closed

[2016-05-09 17:02] EtienneBruines commented on #63
See https://github.com/EngoEngine/engo/pull/274 - almost done with this issue.

[2016-05-09 18:10] EtienneBruines opened #282 "Extensionless resource warning uninformative"
Currently, it gives the following warning when loading files without extensions:
`WARNING: Cannot load extensionless resource.`

We should add the actual filename given, making it easier to debug.

Up for grabs.

[2016-05-10 00:04] #63 closed

[2016-05-10 00:05] EtienneBruines commented on #249
Done in https://github.com/EngoEngine/engo/commit/e5a88d21b82a2fcab7048cf941b7bad02850c498

[2016-05-10 00:05] #249 closed

[2016-05-10 01:37] otraore opened #284 "Better Tests"
Although there's a lot of things we can't really do unit tests on, there's a lot of places we could place better tests or entirely new ones. Up for grabs.

[2016-05-10 11:13] #282 closed

[2016-05-10 20:40] #233 closed

[2016-05-10 23:32] mewmew commented on #43
I can confirm this issue. Hear it too.

[2016-05-10 23:35] mewmew commented on #162
Is anyone currently working on tilemaps support, or is it up for grabs? I seem to remember @Newbrict working on it?

[2016-05-10 23:36] EtienneBruines commented on #162
@Newbrict did some work on it, IIRC.

[2016-05-10 23:37] Newbrict commented on #162
I have it working, and it's in a PR
I've just been super duper busy with TC and what not... I'm sorry I will get the pull request fixed up friday at the latest!

[2016-05-11 08:57] matiwinnetou opened #286 "vendoring and glide"
Now that vendoring is default in golang 1.6.x and one of recommended tools these days to manage vendor dependencies is glide I would recomment to move to glide and vendoring for external dependencies.

Thoughts? @paked @EtienneBruines

[2016-05-11 10:01] paked commented on #286
At the moment I think we can consider most of our dependencies "stable" as they are maintained by the Go team and therefore (I believe) follow backwards compatibility standards. I don't think we need to vendor until we have packages which are outside of our control (and have a risk of being non-backwards compatible).

I'm also hesitant to use any vendoring system which will break `go get` and it l

[2016-05-11 10:17] EtienneBruines commented on #286
Some dependencies, such as the `luxengine/math`, are not maintained by the Go team. However, these are mostly static - and if it fails, it's probably fixed within a few minutes/hours.

But it might hold some value for `1.0` - since it makes no sense to have `1.0` (i.e. at `gopkg.in`), to ensure engo is stable, but to fail because dependencies aren't.

[2016-05-11 10:29] mewmew commented on #286
For reference, we tried something similar in Azul3D using versioned imports and after a long evaluation period decided to ditch versioning in favour of vendoring controlled by the user (not the engine).

From https://github.com/azul3d/engine/issues/1

[2016-05-11 10:36] paked commented on #162
Thanks @newbrict ❤️

[2016-05-11 22:52] paked commented on #63
🎉

[2016-05-11 22:54] paked commented on #286
@mewmew With this model the user would also be responsible for choosing which versions of our dependencies to use too?

[2016-05-12 03:18] HeadClot opened #287 "level streaming stress test"
Stress test the level streaming feature of engo when merged with EnGo. #196

I would recommend [World Engine](https://github.com/Mindwerks/worldengine) as soon as .TMX support gets merged into the repo.

[2016-05-12 04:53] EtienneBruines commented on #286
@paked I would believe so.

[2016-05-12 11:16] mewmew commented on #286
Indeed.

The idea is to promote development and facilitate the design of a clean API. Rather than having a lot of "// Depricated" comments scattered throughout the source code, parts which are no longer supported will be removed in favour of cleaner API. Once such API-breaking changes are introduced, the change will be documented to state which versions (e.g. Git tag `v1.2`) of each package that a

[2016-05-13 16:04] otraore opened #291 "Move to luxengine/glm"
Our current math implementation is duplicating and not as accurate as it should be. No need to try and improve it when there's an implementation by @hydroflame and @luxengine. I'm proposing we make the move to it after the core_api PR is merged in,

[2016-05-13 16:05] EtienneBruines commented on #291
luxengine/glm: https://github.com/luxengine/glm

Reasons for this also include the fact that the `glm` package provided by @luxengine has extensive tests for floating-point precision correctness. Something that tends to go wrong often, when working with floats and math).

[2016-05-13 19:15] #228 closed

[2016-05-13 19:15] #235 closed

[2016-05-13 19:15] #245 closed

[2016-05-13 19:15] #246 closed

[2016-05-13 19:15] #253 closed

[2016-05-13 19:15] #277 closed

[2016-05-13 19:15] #280 closed

[2016-05-13 19:18] EtienneBruines opened #292 "Common is sometimes being called core"
Oops..

[2016-05-13 19:19] mewmew commented on #292
hehe

[2016-05-13 19:27] mewmew opened #294 "Check for unnecessary converions during CI"
We should consider using `unconvert` to check for unnecessary conversions during CI. This would further help improve the code quality of engo as time goes by.

https://github.com/mdempsky/unconvert

Example PR: https://github.com/EngoEngine/engo/pull/293

[2016-05-13 19:37] mewmew opened #295 "Add code coverage reporting to Travis CI"
(Creating dedicated issue for tracking this work. Comment originally posted in https://github.com/EngoEngine/engo/issues/117#issuecomment-213408780)

The Travis config may be extended to report the lint status of the project. For an example project using this approach, refer to the following `goclean.sh` script and travis config:

* [goclean.sh](https://gist.github.com/mewmew/379014c9a2e6885e238d)

[2016-05-13 21:53] otraore commented on #292
Would you mind saying where?

[2016-05-13 22:02] EtienneBruines commented on #292
@otraore `README.md` to give an example.  - not sure where else, that's what this issue is for ;-).

[2016-05-13 23:00] guybrush opened #299 "data oriented design"
sorry if this is the wrong place for this issue, wasn't sure if i should post it in ecs or engo.

in `demos/pong` for example you allocate

[code]

in that example its really not that important for sure, since there is only one ball. but in general wouldn't it be better to advertise a data-oriented data-structure somehow? like every component should be put in its corresponding array?

eg:

[code]

[2016-05-13 23:11] EtienneBruines commented on #299
Well,

[code]

So `Ball` is a type. One that we can instantiate as often as we'd like. In ECS (at least our implementation), there is no "global list" of entities. Each `System` will keep track of the `Component`s it requires (by reference), and whenever `world.Remove` is called, all Systems should remove such reference. The garbage collector will then do the rest.

The balls would indeed be sprea

[2016-05-13 23:17] guybrush commented on #299
right, i am glad that you got exactly what i was asking :D

in the 1mio balls example you are referring to, how could one implement removing and adding entities? i mean you would have to pass the index of the corresponding ball so you can remove it? this becomes especially a hard problem when you sort the balls by position for collision-algorithms.

but i guess if one does not hit a performance-is

[2016-05-13 23:20] Newbrict commented on #291
this is dank

[2016-05-13 23:22] EtienneBruines commented on #299
Optimizations are always welcome, but will probably not be on our priority list :smile:

This depends on your use-case. The `RenderSystem` for instance, is currently linear (so a slice/array). It would probably be better if it uses quadtrees or something similar. Depending on those implementations, adding / removing them would become different.

Yes, when removing something, all you know is it's I

[2016-05-13 23:30] guybrush commented on #299
nice i will idle gitter, feel free to close this issue!

[2016-05-13 23:37] EtienneBruines commented on #299
If you ever need anything, don't hesitate to ask :smile:

[2016-05-13 23:37] #299 closed

[2016-05-14 22:28] otraore opened #300 "canvasWidth, canvasHeight bug"
-@otraore gitter chat

issue discovered by @Glorfunkel

[2016-05-15 00:03] paked commented on #286
OK. I'm happy with this.

[2016-05-15 05:56] EtienneBruines commented on #300
https://github.com/EngoEngine/engo/blob/master/engo_glfw.go#L111

Fix `canvasWidth, windowWidth` to `canvasWidth, canvasHeight`.

[2016-05-15 06:07] otraore commented on #300
Sure

[2016-05-15 06:28] #300 closed

[2016-05-15 19:48] #292 closed

[2016-05-16 11:36] EtienneBruines opened #306 "Try out iOS"
Someone with an iPhone and XCode should try to run it.

I've read/heard that `ios` is _not_ the build-tag for iOS. Instead you use `amd64 darwin` (note the space in between). If we were to use that, maybe we could get it to build.

Up for grabs.

[2016-05-16 11:42] otraore commented on #306
Grabbing later in the day

[2016-05-16 16:26] EtienneBruines commented on #306
Be sure to share your findings at gitter :smile:

[2016-05-16 19:46] EtienneBruines opened #307 "Multiple sounds at once"
Our current `AudioSystem` is limited to one simultaneous audio fragment. It makes sense to have multiple audio sources playing at the same time (i.e. sound effects from different sources).

Marking this as "bug" because this "limitation" is not documented, nor assumed.

@otraore Is this something you want to take on? (since you're working on `engo.io/audio`? Or would you rather that I?)

[2016-05-17 00:57] EtienneBruines opened #308 "Font render newlines"
Currently, whenever the text a font needs to render (`myFont.Render("text\r\n")`) contains some kind of newline (`\r`, `\n`, or `\r\n` (I don't care which)), it gets ignored.

It'd be nice to support multiline strings like this. At least some simple approach.

[2016-05-17 19:22] EtienneBruines opened #310 "MouseSystem: Hover with rotation"
In this example, the green rectangle is where the cursor is located. It's green because `engo` thinks we're hovering the road (gray diagonal line).

![](https://www.huperwebs.nl/upload/screenshot-2016-05-17_21:20:35.jpg)

The road is created by taking a 200x20 rectangle, and rotating that at some angle.

[2016-05-18 00:55] otraore commented on #306
Update we got it to build. Sadly I wasn't able to test it out on the emulator. We think it's because of https://github.com/golang/go/wiki/Mobile#ios-simulator . This might differ on a iOS device.

[2016-05-18 03:47] paked commented on #306
Do we need to find someone with an iOS device in order to continue testing?

[2016-05-18 12:34] otraore commented on #306
Believe so, or I can set up the simulator for it according to x/mobile's suggestions

[2016-05-18 20:57] EtienneBruines opened #312 "CameraSystem unexported, cannot follow an entity"
As @TheBerryBeast has rightfully noted, because the `common.cameraSystem` is currently unexported, it is not possible to make it follow an entity.

We should make it exported for this reason.

[2016-05-18 21:01] EtienneBruines commented on #265
Previously, we used the `Anchor` `engo.Point` for that. Makes sense to implement such a thing.

[2016-05-18 21:06] #310 closed

[2016-05-18 21:09] EtienneBruines opened #313 "engo.Point{}.Within"
@otraore thought it'd be nice to be able to say

[code]

[2016-05-18 21:21] mewmew commented on #313
How do we make `Point` not depend on the `common` package? Through an interface?

If we define a method `Within` on point, it would make sense to rename the `SpaceComponent.Within` method to `Contains`. Perhaps that's just a personal preference. What do you think?

[2016-05-18 21:22] EtienneBruines commented on #313
You're right, we can't. (interface doesn't really make it any better, at least not for a "convenience" method, imho)

`Contains` SGTM. Awaiting response from others :smile:

[2016-05-18 21:34] EtienneBruines commented on #313
Up for grabs.

[2016-05-19 00:37] #312 closed

[2016-05-19 04:31] Newbrict commented on #287
tmx format is supported again with #315

[2016-05-19 08:21] EtienneBruines opened #316 "Interfaces within Systems"
I think it's time for the next big thing.

Take the following code ([here](https://github.com/EngoEngine/engo/blob/master/common/render.go#L69-L73) and [here](https://github.com/EngoEngine/engo/blob/master/common/render.go#L120-L121)):
[code]

Wouldn't it be awesome to have it look like this?

[code]

We would then define both the `Component`, as the `interface` for that `Component`, which would r

[2016-05-19 08:35] EtienneBruines opened #317 "Font partially transparency colors"
# Given:
[code]

# Expected:
Partially transparent background. When the things behind that entity are white, then it should still be white.

# Actual:
![](https://www.huperwebs.nl/upload/screenshot-2016-05-19_10:33:47.jpg)

As if there's "black" behind the image the font is rendering. Everything behind it is white, so it should render 100% white background.

[2016-05-19 21:06] EtienneBruines opened #318 "CameraSystem cleanup"
As @TheBerryBeast noted, the `RenderSystem` adds a `CameraSystem` if one isn't present yet.

However, users could add one _right after_ adding the `RenderSystem` - this will not work (nor will it ever). We should find a way to handle this. Perhaps letting the `RenderSystem` crash if no `CameraSystem` was added before adding the `RenderSystem`? That would require everyone to explicitely add the `Ca

[2016-05-20 01:50] paked commented on #316
@EtienneBruines Would you mind expanding on the benefits of this?

[2016-05-20 15:25] otraore commented on #291
Would we consider https://github.com/EngoEngine/engo/commit/8cf20599912cd81757e1e6b1312a5624ae3dd413 a fix for this?

[2016-05-20 15:32] EtienneBruines commented on #291
No. That was just to not make it worse (and to actually fix the bug).

[2016-05-20 15:37] EtienneBruines commented on #316
The benefits of this would be:

1. You don't need to reference every component required within the `Add` method.
2. You don't have to worry about the order of the things you're referencing.
3. Looks pretty cool (except for the definition of the getters/setters)
4. No one has to guess what a `renderEntity` or whatever is, because it's an interface - everyone'll understand it. See #241 for an exampl

[2016-05-21 04:37] #162 closed

[2016-05-21 13:27] EtienneBruines commented on #316
I'm going to be honest here :smile:

I dislike it, but it might still be worth the discussion, depending on what others feel.

The reason for disliking it:

* Our `common` codebase becomes more unreadable.
* It feels like an abuse of the go `interface`. Since we're not really requiring any methods, and to define interfaces for everything just to implement them once, doesn't make much sense either.

[2016-05-21 13:49] mewmew commented on #316
My thoughts exactly. Thank you for summing them up! I had been meaning to write a reply after evaluating this in more detail, but I am strongly against defining interfaces just for the reason of defining interfaces. Pre-mature abstractions are just as dangerous as pre-mature optimization. In the future, if several `RenderComponent`s (or some other component) have been defined, then we may create a

[2016-05-21 15:44] Newbrict commented on #316
Thanks for the mention. I've reviewed the comments and I am against it for one reason.
 - Harder to read makes it harder for new people to get into the codebase

[2016-05-21 15:47] Newbrict commented on #269
what is logo how is it better than SVG?

[2016-05-21 16:47] EtienneBruines commented on #269
[Logo](https://www.cs.berkeley.edu/~bh/v2ch14/manual.html) s an interpreted language in which you can define how to draw objects. So you don't define what they look like, but how to draw them (from a pencil-perspective). It's about 20 years old.

It's not better than SVG (never said it was), but it's an alternative to SVG.

There's no rush in supporting it (for us), but if anyone wants to implemen

[2016-05-21 16:53] otraore commented on #316
By popular decision from all those myself and all those above me. I am closing this until further notice. We can always revisit this should we need to. Thanks for bringing up the idea @EtienneBruines.

[2016-05-21 16:53] #316 closed

[2016-05-21 17:03] otraore opened #319 "Fix documentation for windows setup"
Our current README suggests that to get engo up and running you need to install several packages on windows using [win-builds](http://win-builds.org/doku.php/start). Yesterday me and @makufiru both goth engo demos building and running without any of said packages. Also we've found out that none of the packages mentioned are even [available](http://win-builds.org/doku.php/1.5.0_packages) on win-bui

[2016-05-21 17:08] EtienneBruines commented on #319
I'm not sure why it says "download all *above* packages using win-builds". The idea of `win-builds` was to install simply everything they provide, and then it would work.

You could do without, but then I'd like to know what you had to install instead. And I'm talking about "from a clean install" - so given you do a fresh installation of Windows 7/8/10, install Go right after that. So what would y

[2016-05-21 17:10] otraore commented on #319
I think all that's needed is a c(++) compiler. Either mingw or msys or cygwin should do fine if I'm not mistaken. appveyor for example uses mingw.